{% extends "base.html.j2" %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Group</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>
                        <pre>{{ zone_operator_session|pprint }}</pre>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
