{% extends "base.html.j2" %}
{% block body %}
  
  {% if e %}<div class="alert alert-danger" role="alert">{{ e }}</div>
  {% else %}
  <div class="alert alert-danger" role="alert">Service is unavailable</div>
  {% endif %}
{% endblock body %}
