
{% import "dialogs.html.j2" as dialogs %}

<div class="float-end">
    <p class="mt-3">
        <form method="post"
              action="{{ url_for('browse_bp.set_inheritance', collection_path = collection.path.lstrip('/') ) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="redirect_hash" value="#permissions" />
            <div class="form-check form-switch">
                <label for="inheritance-checkbox" class="me-3 form-check-label fw-bold">Inheritance</label>
                <input type="checkbox"
                       class="form-check-input"
                       id="inheritance-checkbox"
                       name="inheritance"
                       onChange="this.form.submit()"
                       {% if collection.inheritance %}checked{% endif %}
                       {% if not 'own' in current_user_rights %}disabled{% endif %} />
            </div>
        </form>
    </p>
</div>
<table class="table table-striped table-hover mt-2 mb-3"
       id="permssions-table">
    <thead>
        <tr>
            {# <th scope="col">Select</th> #}
            <th scope="col">User / Group</th>
            <th scope="col">Access level</th>
            <th scope="col">Zone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for permission in permissions %}
            <tr>
                <td>{{ permission.user_name }} ({{ acl_users_dict[permission.user_name] }})</td>
                <td>{{ permission.access_name }}</td>
                <td>{{ permission.user_zone }}</td>
                <td class="align-middle text-end">
                    {% if config['ACL_PROTECT_OWN'] and permission.access_name == 'own' and acl_counts['own'] < 2 %}
                        <p title="disabled: need at least 1 owner">
                            <button type="submit"
                                    class="btn btn-grey"
                                    disabled
                                    title="At least one owner required">
                                <i class="bi bi-trash"></i>
                            </button>
                        </p>
                    {% elif 'own' in current_user_rights %}
                        <button type="button"
                                class="btn btn-link"
                                data-bs-toggle="modal"
                                data-bs-target="#delete-{{permission.user_name}}">
                            <i class="bi bi-trash text-danger"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>



{% set show_recursive = ('own' in current_user_rights and ((permission.access_name == 'own' and acl_counts['own'] > 1) or permission.access_name != 'own')) | default(false) %}

{% if show_recursive %}
  {% set fields = [{"type" : "checkbox" , "label": "Remove recursively for all items in this collection", "name": "recursive", "value": "True", "checked": "True"}] %}
{% else %}
  {% set fields = [] %}
{% endif %}


{{ dialogs.general_dialog("delete-" ~ permission.user_name , url_for('browse_bp.set_permissions', item_path=collection.path.lstrip('/') ),
title="Remove permissions for " ~permission.user_name ,
mode="custom",
btn_ok="I'm Sure", 
btn_cancel="Cancel",
fields = fields,
hidden_fields=[{"name": "csrf_token", "value": csrf_token() }, {"name": "groups", "value": permission.user_name }, {"name": "redirect_hash", "value": "#permissions"} ]
) 
}}
        {% endfor %}
    </tbody> 
</table>
{% if 'own' in current_user_rights %}
    <div class="mt-5">
        <form method="post"
              class="mt-3"
              action="{{ url_for('browse_bp.set_permissions', item_path=collection.path.lstrip('/') ) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="redirect_hash" value="#permissions" />
            <div class="row">
                <div class="col">
                    <label for="permission_groups">Groups</label>
                    <select class="form-select"
                            aria-label="Groups"
                            name="groups"
                            id="permission_groups">
                        {% for group in my_groups %}<option value="{{ group.name }}">{{ group.name }}</option>{% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="permission_type">Rights</label>
                    <select class="form-select"
                            aria-label="Groups"
                            name="permission_type"
                            id="permission_type">
                        <option value="own">Own</option>
                        <option value="write">Modify</option>
                        <option value="read">Read</option>
                    </select>
                </div>
                <div class="col">
                    <input type="checkbox" name="recursive" id="set_recursive" value="True" />
                    <label for="set_recursive">Recursive</label>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </div>
        </form>
    </div>
{% endif %}
<!--{{ acl_users_dict |pprint }}-->
