*.py[cod]

# C extensions
*.so

# pycharm
.idea/
.idea

# other IDEs
.spyproject
.spyproject/
.vscode

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
#lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Cookiecutter
output/

tests/*.pkl
tests/*.json



## project specific
# well, just local scratch stuff
src/scratch
# imported from https://github.com/hpcleuven/vsc-python-irodsclient
lib/vsc_irods
# local python environment
venv
#Node modules
node_modules
#Vue build files
src/static/dist

.gitignore
.cache
.eslintrc.json
package-lock.json
