amqp==5.2.0
annotated-types==0.6.0
async-timeout==4.0.3
Beaker==1.12.1
billiard==4.2.0
bleach==6.1.0
blinker==1.7.0
Bootstrap-Flask==2.3.3
cachelib==0.9.0
celery==5.4.0
celery-redbeat==2.2.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
confluent-kafka==2.3.0
cryptography==42.0.5
cssbeautifier==1.14.11
defusedxml==0.7.1
djlint==1.34.1
EditorConfig==0.12.3
exceptiongroup==1.2.1
Flask==3.0.0
Flask-Caching==2.1.0
Flask-Cors==4.0.0
Flask-DebugToolbar==0.14.1
flask-paginate==2023.10.24
Flask-WTF==1.2.1
flower==2.0.1
future==0.18.3
greenlet==3.0.3
html-tag-names==0.1.2
html-void-elements==0.1.0
humanize==4.9.0
hupper==1.12
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
jsbeautifier==1.14.11
json5==0.9.14
kombu==5.4.0rc1
Mako==1.3.0
MarkupSafe==2.1.3
multidict==6.0.4
numpy==1.26.3
oic==1.6.1
opensearch-py==2.4.2
packaging==23.2
pandas==2.1.4
pathspec==0.12.1
pdf2image==1.17.0
pika==1.3.2
pillow==10.2.0
plotly==5.15.0
pluggy==1.5.0
prettytable==3.9.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
pur==7.3.1
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.5.3
pydantic-settings==2.1.0
pydantic_core==2.14.6
pyjwkest==1.4.2
PyJWT==2.8.0
pytest==8.1.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-irodsclient==2.0.1
python-magic==0.4.27
python-slugify==8.0.1
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.3
regex==2023.12.25
requests==2.31.0
semver==3.0.2
six==1.16.0
SQLAlchemy==2.0.28
tenacity==8.2.3
text-unidecode==1.3
tomli==2.0.1
tornado==6.4
tqdm==4.66.1
types-cryptography==3.3.23.2
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
vine==5.1.0
waitress==2.1.2
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.3
WTForms==3.1.2
xmlrunner==1.7.7
zipp==3.17.0
