Bootstrap-Flask
cachelib
certifi
charset-normalizer
click
colorama
cssbeautifier
defusedxml
djlint
EditorConfig
Flask
Flask-Caching
Flask-Cors
flask-paginate
Flask-WTF
html-tag-names
html-void-elements
idna
importlib-metadata
itsdangerous
Jinja2
jsbeautifier
MarkupSafe
multidict
pathspec
pdf2image
Pillow
prettytable
python-irodsclient
python-magic
python-slugify
PyYAML
regex
requests
six
text-unidecode
tomli
tqdm
urllib3
wcwidth
Werkzeug
WTForms
xmlrunner
zipp
