Beaker==1.12.1
bleach==6.1.0
celery-redbeat==2.2.0
Bootstrap-Flask==2.3.3
distinctipy==1.3.4
djlint==1.34.1
Flask-Caching==2.1.0
Flask-Cors==4.0.0
Flask-DebugToolbar==0.14.1
flask-paginate==2023.10.24
flask-wtf==1.2.1
flower==2.0.1
humanize==4.9.0
hupper==1.12
importlib-metadata==7.0.1
matplotlib==3.9.2
multidict==6.0.4
oic==1.6.1
opensearch-py==2.4.2
pandas==2.1.4
pdf2image==1.17.0
pika==1.3.2
pip==24.3.1
plotly==5.15.0
pur==7.3.1
PyJWT==2.8.0
python-irodsclient==2.2.0
python-magic==0.4.27
python-slugify==8.0.1
semver==3.0.2
tomli==2.0.1
types-cryptography==3.3.23.2
unittest2==1.1.0
waitress==2.1.2
