<p class="text-end fw-light blockquote-footer"> Zone: <strong>{{g.irods_session.zone}}</strong> | iRODS server {{g.irods_session.host}} |
 iRODS PRC {{ g.prc_version }} | Flask {{ g.flask_version }} | Python {{ g.python_version }}
</p>