
{% extends "base.html.j2" %}

{% block body %}
                <h2>Welcome to your iRODS Portal</h2>

                <img src="{{ url_for('static', filename='fibre-rack.jpg') }}" width="70%" class="bi-align-center">
				<hr />
				{# <img src="{{ url_for('static', filename='data-repository.webp') }}" width="70%" class="bi-align-center"> #}
				<p>
				{% for path_element in current_path %}

				{% endfor %}
				</p>
				<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Owner</th>
      <th scope="col">Modified</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  {% for collection in collections  %}
  <tr>
	<td><i class="bi bi-folder fs-4"></i> {{collection.name}}</td>
	<td><!--{{ collection.__dict__ }}--></td>
	<td></td>
	<td></td>
  </tr>

  {% endfor %}

  {% for data_object in data_objects  %}
  <tr>
	<td><i class="bi bi-file fs-4"></i> {{data_object.name}}</td>
	<td><!--{{ data_object.__dict__ }}--></td>
	<td></td>
	<td></td>
  </tr>


  {% endfor %}
  <tbody>
  </tbody>
  </table>

{% endblock body %}
