<div style="height:fit-content"
     class="col-3 col-sm-3 flex-grow-sm-1 flex-shrink-1 flex-grow-0 sticky-top pb-sm-0 pb-3">
    <div class="bg-light border rounded-3 p-1 h-100 sticky-top">
        <!-- <h6 class="d-none d-sm-block text-muted">Sticky Sidebar</h6> -->
        <h2 class="text-center">
            Admin <i class="bi bi-wrench-adjustable"></i>
        </h2>
        <hr />
        <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate">
            {% for _, navbar_entry in admin_navbar_entries.items() %}
                <li>
                    <a href="{{ url_for(navbar_entry.blueprint ~ '.' ~ navbar_entry.index) }}"
                       class="nav-link px-2 text-truncate"><i class="bi bi-{{ navbar_entry.bootstrap_icon }} fs-4"></i> {{ navbar_entry.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <h2 class="text-end">
            <a href="/"><i class="bi bi-box-arrow-left"></i></a>
        </h2>
    </div>
</div>
