{% extends "base_admin.html.j2" %}
{% block body %}
    {% include "admin_header.html.j2" %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody class="row">
            {% for config_name, config_value in config.items() %}
                <tr>
                    <th class="fs-6 col-1">
                        <pre>{{ config_name }}</pre>
                    </th>
                    <td class="fs-6">
                        <pre>{{ config_value|pprint }}</pre>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
