{% extends "base_admin.html.j2" %}
{% block body %}
    <h2>
        <i class="bi bi-bar-chart-line"></i> Overall OpenSearch and zone stats
    </h2>
    <form method="post"
          action="{{ url_for('mango_open_search_stats_bp.index')}}"
          id="collection_stats">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <select name="collection_path" class="form-select">
            {% for available_collection_path in available_collection_paths %}
                <option value="{{ available_collection_path }}"
                        {% if available_collection_path == collection_path %}selected{% endif %}>
                    {{ available_collection_path }}
                </option>
            {% endfor %}
        </select>
        <label for="show_sub_collections">Show stats for sub collections</label>
        <input id="show_sub_collections"
               name="show_sub_collections"
               type="checkbox"
               value="true"
               class="mt-3 mb-3"/>
    </form>
    <button type="submit" form="collection_stats" class="btn btn-success mt-3">Show collection stats</button>
    {% if collection_stats %}
        <table class="table">
            <thead>
                <th>Collection</th>
                <th>Size</th>
                <th># data objects</th>
                <th># collections</th>
            </thead>
            <tbody>
                {% for collection_path in collection_stats %}
                    <tr>
                        <td>{{ collection_path }}</td>
                        <td>{{ collection_stats[collection_path]["total_size"] | filesizeformat }}</td>
                        <td>{{ collection_stats[collection_path]["num_data_objects"] }}</td>
                        <td>{{ collection_stats[collection_path]["num_collections"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if index_stats %}
        <div class="card mt-5 w-50">
            <div class="card-body">
                <h4>Search index stats (across all zones)</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Index name</td>
                            <th>{{ MANGO_OPEN_SEARCH_INDEX_NAME }}</th>
                        </tr>
                        <tr>
                            <td>Number of documents</td>
                            <th>{{ index_stats.indices[MANGO_OPEN_SEARCH_INDEX_NAME].total.docs.count }}</th>
                        </tr>
                        <tr>
                            <td>Index size</td>
                            <th>{{ index_stats.indices[MANGO_OPEN_SEARCH_INDEX_NAME].total.store.size_in_bytes | filesizeformat }}</th>
                        </tr>
                        <tr>
                            <td>Total queries since start</td>
                            <th>{{ index_stats.indices[MANGO_OPEN_SEARCH_INDEX_NAME].total.search.query_total }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock body %}
