{% import "dialogs.html.j2" as dialogs %}
{% macro permission_block(item_path, permissions, acl_users_dict, acl_counts, my_groups=[], group_filter_exclude=[], current_user_rights = [], recursive=false, read_only = false )%}
    <table class="table table-striped table-hover mt-2" id="permssions-table">
        <thead>
            <tr>
                {# <th scope="col">Select</th> #}
                <th scope="col">User / Group</th>
                <th scope="col">Access level</th>
                <th scope="col">Zone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for permission in permissions %}
                <tr>
                    <td>{{ permission.user_name }} ({{ acl_users_dict[permission.user_name] }})</td>
                    <td>{{ permission.access_name }}</td>
                    <td>{{ permission.user_zone }}</td>
                    <td>
                        {% if not read_only %}
                            {% if config['ACL_PROTECT_OWN'] and permission.access_name == 'own' and acl_counts['own'] < 2 %}
                                <p title="disabled: need at least 1 owner">
                                    <button type="submit"
                                            class="btn btn-grey"
                                            disabled
                                            title="At least one owner required">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </p>
                            {% elif 'own' in current_user_rights %}
                                <form method="post"
                                      action="{{ url_for('browse_bp.set_permissions', item_path=item_path) }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="groups" value="{{ permission.user_name }}" />
                                    <input type="hidden" name="permission_type" value="null" />
                                    <input type="hidden" name="redirect_hash" value="#permissions"/>
                                    <button type="submit" class="btn">
                                        <i class="bi bi-trash text-danger"></i>
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if 'own' in current_user_rights and not read_only %}
        <form method="post"
              action="{{ url_for('browse_bp.set_permissions', item_path=item_path) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="redirect_hash" value="#permissions"/>
            <div class="row">
                <div class="col">
                    <label for="permission_groups">Groups</label>
                    <select class="form-select"
                            aria-label="Groups"
                            name="groups"
                            id="permission_groups">
                        {% for group in my_groups %}
                            <option value="{{ group.name }}">
                                {{ group.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="permission_type">Rights</label>
                    <select class="form-select"
                            aria-label="Groups"
                            name="permission_type"
                            id="permission_type">
                        <option value="own">
                            Own
                        </option>
                        <option value="write">
                            Modify
                        </option>
                        <option value="read">
                            Read
                        </option>
                    </select>
                </div>
                {% if recursive %}
                    <div class="col">
                        <input type="checkbox" name="recursive" id="set_recursive" value="True"/>
                        <label for="set_recursive">Recursive</label>
                    </div>
                {% endif %}
                <div class="col">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endmacro %}
{% macro metadata_block(object_id, object_path, grouped_metadata, metadata_schema_filenames, schema_labels, readonly_prefixes=('mt.', 'mg.', 'irods::'), item_type="collection", read_only=False, current_user_rights=[]) %}
    {% if grouped_metadata|length == 1 and config["MANGO_NOSCHEMA_LABEL"] in grouped_metadata %}
        <table class="table table-striped table-hover mt-2">
            <tbody>
                {% for item in grouped_metadata[config['MANGO_NOSCHEMA_LABEL']].values() %}
                    <tr>
                        <th>{{ item.name }}</th>
                        <td class="text-break">{{ item.value }}</td>
                        <td>{{ item.units if item.units is not none }}</td>
                        {% if not item.name.startswith(readonly_prefixes) and not read_only and 'own' in current_user_rights %}
                            <td>
                                {% if not (item.units and item.units.startswith('analysis')) %}
                                    <a href="#"
                                       data-bs-toggle="modal"
                                       data-bs-target="#editMetaData"
                                       data-bs-meta-data-name="{{ item.name }}"
                                       data-bs-meta-data-value="{{ item.value }}"
                                       data-bs-meta-data-units="{{ item.units if item.units is not none }}"
                                       data-bs-object-path="{{ object_path }}"><i class="bi bi-pencil"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#deleteMetaData"
                                   class="text-danger"
                                   data-bs-meta-data-name="{{ item.name }}"
                                   data-bs-meta-data-value="{{ item.value }}"
                                   data-bs-meta-data-units="{{ item.units if item.units is not none }}"
                                   data-bs-object-path="{{ object_path }}"><i class="bi bi-trash"></i></a>
                            </td>
                        {% else %}
                            <td></td>
                            <td>
                                <i class="bi bi-lock" title="locked"></i>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not read_only and 'own' in current_user_rights %}
            <button type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#addMetaData">
                Add metadata
            </button>
            <div class="h4 pt-4 mt-4 mb-2 border-top border-success">Edit/add metadata via schema</div>
            <form class="row g-3 col-md-6 mt-4"
                  method="get"
                  action="{{ url_for('metadata_schema_form_bp.edit_schema_metadata_for_item')}}">
                <input type="hidden" name="item_type" value="{{ item_type }}" />
                <input type="hidden" name="id" value="{{ object_id }}" />
                <input type="hidden" name="object_path" value="{{ object_path }}" />
                <select name="schema" class="form-select">
                    {% for schema_file in metadata_schema_filenames if not schema_file == "uischema.json" %}
                        <option value="{{ schema_file }}">
                            {{ schema_file[:-5] }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        {% endif %}
    {% else %}
        <!-- nav top bar -->
        <ul class="nav nav-pills mb-3 mt-3" id="schema-tab" role="tablist">
            {% for schema in grouped_metadata %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if loop.index == 1 %}active{% endif %}"
                            id="pills-{{ schema }}-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#pills-{{ schema }}"
                            type="button"
                            role="tab"
                            aria-controls="pills-{{ schema }}"
                            {% if loop.index == 1 %}aria-selected="true"{% else %}aria-selected="false"{% endif %}>
                        {{ schema }}
                    </button>
                </li>
            {% endfor %}
        </ul>
        <!-- content-->
        <div class="tab-content" id="pills-tabContent-schema">
            {% for schema in grouped_metadata %}
                <div class="tab-pane fade {% if loop.index == 1 %}show active{% endif %}"
                     id="pills-{{ schema }}"
                     role="tabpanel"
                     aria-labelledby="pills-{{ schema }}-tab">
                    <table class="table table-striped table-hover mt-2">
                        <tbody>
                            {% for _key, item in grouped_metadata[schema].items() %}
                                <tr>
                                    <th class="text-start">
                                        <span title="{{ item.name }}">{{ schema_labels[schema][item.name]['label'] if (schema_labels[schema] and schema_labels[schema][item.name]) else item.name }}</span>
                                    </th>
                                    <td title="Created: {{ item.create_time }} | Modified: {{ item.modify_time }}"
                                        class="text-break">
                                        {{ item.value | bleach_clean(tags=['br']) | safe }}
                                    </td>
                                    <td class="text-left">{{ item.units if item.units is not none }}</td>
                                    {% if not read_only and 'own' in current_user_rights and not item.name.startswith(readonly_prefixes) and schema in [config['MANGO_NOSCHEMA_LABEL'], 'analysis'] %}
                                        <td>
                                            {% if not (item.units and item.units.startswith('analysis')) %}
                                                <a href="#"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#editMetaData"
                                                   data-bs-meta-data-name="{{ item.name }}"
                                                   data-bs-meta-data-value="{{ item.value }}"
                                                   data-bs-meta-data-units="{{ item.units if item.units is not none }}"
                                                   data-bs-object-path="{{ object_path }}"><i class="bi bi-pencil"></i></a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="#"
                                               data-bs-toggle="modal"
                                               data-bs-target="#deleteMetaData"
                                               class="text-danger"
                                               data-bs-meta-data-name="{{ item.name }}"
                                               data-bs-meta-data-value="{{ item.value }}"
                                               data-bs-meta-data-units="{{ item.units if item.units is not none }}"
                                               data-bs-object-path="{{ object_path }}"><i class="bi bi-trash"></i></a>
                                        </td>
                                    {% else %}
                                        <td></td>
                                        <td>
                                            <i class="bi bi-lock" title="locked"></i>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if schema == config['MANGO_NOSCHEMA_LABEL'] and not read_only and 'own' in current_user_rights %}
                        <button type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#addMetaData">
                            Add metadata
                        </button>
                        <div class="h4 pt-4 mt-4 mb-2 border-top border-success">Edit/add metadata via schema</div>
                        <form class="row g-3 col-md-6 mt-4"
                              method="get"
                              action="{{ url_for('metadata_schema_form_bp.edit_schema_metadata_for_item')}}">
                            <input type="hidden" name="item_type" value="{{ item_type }}" />
                            <input type="hidden" name="id" value="{{ object_id }}" />
                            <input type="hidden" name="object_path" value="{{ object_path }}"/>
                            <select name="schema" class="form-select">
                                {% for schema_file in metadata_schema_filenames if not schema_file == "uischema.json" %}
                                    <option value="{{ schema_file }}">
                                        {{ schema_file[:-5] }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary">
                                Edit
                            </button>
                        </form>
                    {% elif schema != 'analysis' and not read_only and 'own' in current_user_rights %}
                        <div class="row mt-4">
                            {% if schema+'.json' in metadata_schema_filenames %}
                                <form class="col"
                                      method="get"
                                      action="{{ url_for('metadata_schema_form_bp.edit_schema_metadata_for_item')}}">
                                    <input type="hidden" name="item_type" value="{{ item_type }}" />
                                    <input type="hidden" name="id" value="{{ object_id }}" />
                                    <input type="hidden" name="object_path" value="{{ object_path }}" />
                                    <input name="schema" type="hidden" value="{{ schema }}.json" />
                                    <button type="submit" class="btn btn-primary">
                                        Edit
                                    </button>
                                </form>
                            {% endif %}
                            <div class="col">
                                <button type="button"
                                        class="btn btn-danger float-end"
                                        data-bs-toggle="modal"
                                        data-bs-target="#delete_schema_data_{{ schema }}">
                                    Delete metadata for schema {{ schema }}
                                </button>
                                {{ dialogs.confirm_delete_dialog('delete_schema_data_' ~ schema, url_for('metadata_schema_form_bp.delete_schema_metadata_for_item'), title='Are you sure you want to delete all metadata', mode="custom", readonly_fields = [{'name' : 'item_path', 'value': object_path,  'label': 'Item'}, {'name' : 'schema_identifier', 'value': schema, 'label': 'Schema'}], hidden_fields=[{'name':'redirect_hash', 'value': '#metadata'}, {'name': 'item_type', 'value': item_type}], modal_class='modal-lg') }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
{% macro analysis_tika_block(result, consolidate=false, consolidated=[], consolidate_url='{{ url_for }}
    ', data_object_path = '', read_only = false) %}
    <h2>
        Inspect with Tika metadata extractor
    </h2>
    {% if result['X-ANALYSIS-timestamp'] %}
        <p class="text-end">
            Analysis executed on {{ result['X-ANALYSIS-timestamp'] }}
        </p>
    {% endif %}
    <h4>
        Metadata fields
    </h4>
    {% if consolidate %}
        <form action="{{ consolidate_url }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="redirect_hash" value="#analysis"/>
            <input type="hidden" name="data_object_path" value="{{ data_object_path }}"/>
        {% endif %}
        <table class="table">
            {% for key, item in result.items() %}
                {% if key not in ['X-TIKA:content','X-TIKA:Parsed-By-Full-Set', 'X-TIKA:Parsed-By', 'X-ANALYSIS-timestamp'] %}
                    <tr>
                        <th>
                            {{ key }}
                        </th>
                        <td class="text-break">
                            {{ item }}
                        </td>
                        {% if consolidate %}
                            <td>
                                {% if key in consolidated %}
                                    <i class="bi bi-check2-square text-primary"></i>
                                {% elif not read_only %}
                                    <input type="checkbox" name="consolidate" value='{{ {key:item} | tojson }}'/>
                                    {# note the single quotes required #}
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% if consolidate and not read_only %}
            <div class="row mt-5">
                <div class="col">
                    <button class="btn btn-primary float-end">
                        Add selected metadata items as regular metadata
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
    <h4>
        Textual content extracted (for information only)
    </h4>
    <pre>
    {{result['X-TIKA:content']}}
    </pre>
    <h4>
        Analysis steps
    </h4>
    <ul class="list-group">
        {% if result['X-TIKA:Parsed-By-Full-Set'] is not string %}
            {% for step in result['X-TIKA:Parsed-By-Full-Set'] %}
                <li class="list-group-item">
                    {{ step }}
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">
                {{ result['X-TIKA:Parsed-By-Full-Set'] }}
            </li>
        {% endif %}
    </ul>
{% endmacro %}
