{% extends "base.html.j2" %}
{% import "dialogs.html.j2" as dialogs %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet"
        href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
        type="text/css"/>
  <style>
  /* dropzone multi file upload css override*/
  .dropzone .dz-preview .dz-progress {
    height: 6px;
    top: 85%;
  }
  </style>
{% endblock head %}
{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <i class="bi bi-house-door-fill"> </i>&nbsp;
      <li class="breadcrumb-item">{{ breadcrumbs[0]['label'] }}</li>
      {% for element in breadcrumbs[1:-1] %}
        <li class="breadcrumb-item">
          <a href="{{ url_for('browse_bp.collection_browse', collection=element['url'])}}">{{ element['label'] }}</a>
        </li>
      {% endfor %}
      <li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs[-1]['label'] }}</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-12 mr-auto">
      <h2 class="mb-4">{{ collection.name }}</h2>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#empty_trash" {{ 'disabled' if not sub_collections and not data_objects }}>
      <i class="bi bi-trash"></i> Empty Trash
    </button>
    {{ dialogs.confirm_delete_dialog('empty_trash',url_for('browse_bp.empty_user_trash'),  mode='custom',  title='Permanently remove collections and files', btn_ok='Empty Trash' )}}
  </div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active"
         href="#content"
         id="content-tab"
         data-bs-toggle="tab"
         data-bs-target="#collection-content"
         type="button"
         role="tab"
         aria-controls="collection-tab"
         aria-selected="true">
        Content
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link"
         href="#metadata"
         id="metadata-tab"
         data-bs-toggle="tab"
         data-bs-target="#collection-metadata"
         type="button"
         role="tab"
         aria-controls="collection-metadata"
         aria-selected="false">
        Metadata
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link"
         href="#permissions"
         id="permissions-tab"
         data-bs-toggle="tab"
         data-bs-target="#collection-permissions"
         type="button"
         role="tab"
         aria-controls="collection-permissions"
         aria-selected="false">
        Permissions
      </a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tab-content">
    <div class="tab-pane" id="collection-metadata">
      {% if grouped_metadata|length == 1 and config["MANGO_NOSCHEMA_LABEL"] in grouped_metadata %}
        <table class="table table-striped table-hover mt-2">
          <tbody>
            {% for _key, item in grouped_metadata[config["MANGO_NOSCHEMA_LABEL"]].items() %}
              <tr>
                <th>{{ item.name }}</th>
                <td>{{ item.value }}</td>
                <td>{{ item.units if item.units is not none }}</td>
                <td></td>
                <td></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <!-- nav top bar -->
        <ul class="nav nav-pills mb-3 mt-3" id="schema-tab" role="tablist">
          {% for schema in grouped_metadata %}
            <li class="nav-item" role="presentation">
              <button class="nav-link {% if loop.index == 1 %}active{% endif %}"
                      id="pills-{{ schema }}-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#pills-{{ schema }}"
                      type="button"
                      role="tab"
                      aria-controls="pills-{{ schema }}"
                      {% if loop.index == 1 %}aria-selected="true"{% else %}aria-selected="false"{% endif %}>
                {{ schema }}
              </button>
            </li>
          {% endfor %}
        </ul>
        <!-- content-->
        <div class="tab-content" id="pills-tabContent-schema">
          {% for schema in grouped_metadata %}
            <div class="tab-pane fade {% if loop.index == 1 %}show active{% endif %}"
                 id="pills-{{ schema }}"
                 role="tabpanel"
                 aria-labelledby="pills-{{ schema }}-tab">
              <table class="table table-striped table-hover mt-2">
                <tbody>
                  {% for _key, item in grouped_metadata[schema].items() %}
                    <tr>
                      <th>
                        <span title="{{ item.name }}">{{ schema_labels[schema][item.name]['label'] if (schema_labels[schema] and schema_labels[schema][item.name]) else item.name }}</span>
                      </th>
                      <td title="Created: {{ item.create_time }} | Modified: {{ item.modify_time }}">{{ item.value }}</td>
                      <td>{{ item.units if item.units is not none }}</td>
                      <td></td>
                      <td></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="tab-pane show active" id="collection-content">
      {#  <div style="width:fit-content" class="input-group my-3">
      <select class="form-select" id="action_select">
        <option value="" selected>Choose action for selected items</option>
        <option value="move">Move</option>
        <option value="delete">Delete</option>
      </select>
      <button type="button" class="btn btn-primary" onclick="applyAction()">Apply</button>
</div> #}
      <table class="table table-striped table-hover mt-2" id="browseTable">
        <thead>
          <tr>
            {# <th scope="col">Select</th> #}
            <th scope="col">Name</th>
            <th scope="col">Owner</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col">Size</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for collection in sub_collections %}
            <tr>
              {# <td><input style="vertical-align:middle"
       class="form-check-input checkbox-inline"
       type="checkbox"
       value="{{collection.path}}"></td> #}
              <td>
                <i class="bi bi-folder fs-4"></i> <a href="{{ url_for('browse_bp.collection_browse', collection=collection.path.lstrip('/'))}}">{{ collection.name }}</a>
              </td>
              <td>
                {{ collection.owner_name }}
              </td>
              <td>
                {{ collection.create_time.isoformat(timespec='seconds') }}
              </td>
              <td>
                {{ collection.modify_time.isoformat(timespec='seconds') }}
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
          {% endfor %}
          {% for data_object in data_objects %}
            <tr>
              {# <td><input style="vertical-align:middle"
       class="form-check-input checkbox-inline"
       type="checkbox"
       value="{{data_object.path}}"></td> #}
              <td>
                <i class="bi bi-file-earmark fs-4"></i><span> <a href="{{ url_for('browse_bp.view_object', data_object_path=data_object.path.lstrip('/'))}}">{{ data_object.name }}</a></span>
              </td>
              <td>
                <!--{{ data_object.__dict__ }}-->{{ data_object.owner_name }}
              </td>
              <td>
                {{ data_object.create_time.isoformat(timespec='seconds') }}
              </td>
              <td>
                {{ data_object.modify_time.isoformat(timespec='seconds') }}
              </td>
              <td>
                {{ data_object.size | filesizeformat }}
              </td>
              <td>
                {% if data_object.size < 20000000000 %}
                  <a href="{{ url_for('browse_bp.download_object', data_object_path = data_object.path)}}"><i class="bi bi-download"></i></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if 'own' in current_user_rights and collection.path != user_trash_path and breadcrumbs|length > 2 %}
        <div class="row mt-5">
          <div class="col">
            <button type="button"
                    class="btn btn-danger float-end"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_collection"
                    data-bs-field-ha="hihi"
                    data-bs-field-bo="hoho">
              Delete Collection
            </button>
          </div>
        </div>
        {{ dialogs.confirm_delete_dialog('delete_collection', url_for('browse_bp.delete_collection'), title='Delete collection and contents', mode='listen-many', readonly_fields = [{'name' : 'collection_path', 'value': collection.path, 'label': 'Collection Path'}], hidden_fields=[{'name':'redirect_route', 'value': url_for('browse_bp.collection_browse', collection=breadcrumbs[-2]['url'])}], modal_class="modal-xl" )}}
      {% endif %}
    </div>
    <div class="tab-pane" id="collection-permissions">
      <table class="table table-striped table-hover mt-2" id="permssions-table">
        <thead>
          <tr>
            {# <th scope="col">Select</th> #}
            <th scope="col">
              User / Group
            </th>
            <th scope="col">
              Access level
            </th>
            <th scope="col">
              Zone
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for permission in permissions %}
            <tr>
              <td>
                {{ permission.user_name }} ({{ acl_users_dict[permission.user_name] }})
              </td>
              <td>
                {{ permission.access_name }}
              </td>
              <td>
                {{ permission.user_zone }}
              </td>
              <td>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- Add meta data modal -->
  <!-- Delete modal -->
{% endblock body %}
