{% extends "base.html.j2" %}
{% import "blocks.html.j2" as block_macros %}
{% import "dialogs.html.j2" as dialogs %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet"
        href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
        type="text/css"/>
  <style>
  /* dropzone multi file upload css override*/
  .dropzone .dz-preview .dz-progress {
    height: 6px;
    top: 85%;
  }
  </style>
{% endblock head %}
{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <i class="bi bi-house-door-fill"> </i>&nbsp;
      {#<li class="breadcrumb-item">{{ breadcrumbs[0]['label'] }}</li>#}
      {% for element in breadcrumbs[:-1] %}
        <li class="breadcrumb-item">
          <a href="{{ url_for('browse_bp.collection_browse', collection=element['url'])}}">{{ element['label'] }}</a>
        </li>
      {% endfor %}
      <li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs[-1]['label'] }}</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-12 mr-auto">
      <h2 class="mb-4">{{ collection.name }}</h2>
    </div>
  </div>
  {% if (('own' in current_user_rights) or ('modify object' in current_user_rights)) %}
    <div class="d-flex justify-content-end">
      <div class="col-3 mr-auto">
        <button type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#addCollection">
          Add collection
        </button>
      </div>
      <div class="col-8 mr-auto">
        {# <form action="{{ url_for('browse_bp.collection_upload_file')}}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="input-group mb-3">
            <div class="invalid-feedback">A file to upload is required</div>
            <input type="file" class="form-control" id="newfile" name="file" required />
            <button type="submit" class="btn btn-primary">Upload</button>
            <input type="hidden" name="collection" value="{{ collection.path }}"/>
          </div>
        </form> #}
        <button class="btn btn-primary mb-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#multi-upload-form">
          Upload files ...
        </button>
        <div id="multi-upload-form" class="collapse">
          <form action="{{ url_for('browse_bp.collection_upload_file')}}"
                class="dropzone rounded"
                id="mango-dropzone">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="collection" value="{{ collection.path }}"/>
          </form>
          <button class="btn btn-primary mt-2 float-end" id="submit-all">Start uploading all files</button>
        </div>
      </div>
    </div>
  {% endif %}
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active"
         href="#content"
         id="content-tab"
         data-bs-toggle="tab"
         data-bs-target="#collection-content"
         type="button"
         role="tab"
         aria-controls="collection-tab"
         aria-selected="true">
        Content
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link"
         href="#metadata"
         id="metadata-tab"
         data-bs-toggle="tab"
         data-bs-target="#collection-metadata"
         type="button"
         role="tab"
         aria-controls="collection-metadata"
         aria-selected="false">
        Metadata
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link"
         href="#permissions"
         id="permissions-tab"
         data-bs-toggle="tab"
         data-bs-target="#collection-permissions"
         type="button"
         role="tab"
         aria-controls="collection-permissions"
         aria-selected="false">
        Permissions
      </a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tab-content">
    <div class="tab-pane" id="collection-metadata">
      {{ block_macros.metadata_block(collection.id, collection.path.lstrip("/"), grouped_metadata, metadata_schema_filenames, schema_labels, readonly_prefixes=('mt.', 'mg.', 'irods::'), item_type="collection", current_user_rights=current_user_rights)}}
    </div>
    <div class="tab-pane show active" id="collection-content">
      {#  <div style="width:fit-content" class="input-group my-3">
      <select class="form-select" id="action_select">
        <option value="" selected>Choose action for selected items</option>
        <option value="move">Move</option>
        <option value="delete">Delete</option>
      </select>
      <button type="button" class="btn btn-primary" onclick="applyAction()">Apply</button>
</div> #}
      <table class="table table-striped table-hover mt-2" id="browseTable">
        <thead>
          <tr>
            {# <th scope="col">Select</th> #}
            <th scope="col">Name</th>
            <th scope="col">Owner</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col">Size</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for collection in sub_collections %}
            <tr>
              {# <td><input style="vertical-align:middle"
       class="form-check-input checkbox-inline"
       type="checkbox"
       value="{{collection.path}}"></td> #}
              <td>
                <i class="bi bi-folder fs-4"></i> <a href="{{ url_for('browse_bp.collection_browse', collection=collection.path.lstrip('/'))}}">{{ collection.name }}</a>
              </td>
              <td>{{ collection.owner_name }}</td>
              <td>{{ collection.create_time.isoformat(timespec='seconds') }}</td>
              <td>{{ collection.modify_time.isoformat(timespec='seconds') }}</td>
              <td>
              </td>
              <td>
              </td>
            </tr>
          {% endfor %}
          {% for data_object in data_objects %}
            <tr>
              {# <td><input style="vertical-align:middle"
       class="form-check-input checkbox-inline"
       type="checkbox"
       value="{{data_object.path}}"></td> #}
              <td>
                <i class="bi bi-file-earmark fs-4"></i><span> <a href="{{ url_for('browse_bp.view_object', data_object_path=data_object.path.lstrip('/'))}}">{{ data_object.name }}</a></span>
              </td>
              <td>
                <!--{{ data_object.__dict__ }}-->{{ data_object.owner_name }}
              </td>
              <td>
                {{ data_object.create_time.isoformat(timespec='seconds') }}
              </td>
              <td>
                {{ data_object.modify_time.isoformat(timespec='seconds') }}
              </td>
              <td>
                {{ data_object.size | filesizeformat }}
              </td>
              <td>
                {% if data_object.size < 20000000000 %}
                  <a href="{{ url_for('browse_bp.download_object', data_object_path = data_object.path.lstrip('/'))}}"><i class="bi bi-download"></i></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if 'own' in current_user_rights and collection.path != g.user_home %}
        {# and breadcrumbs|length > 2 %} #}
        <div class="row mt-5">
          <div class="col">
            <button type="button"
                    class="btn btn-danger float-end"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_collection"
                    data-bs-field-ha="hihi"
                    data-bs-field-bo="hoho">
              Delete Collection
            </button>
          </div>
        </div>
        {{ dialogs.confirm_delete_dialog('delete_collection', url_for('browse_bp.delete_collection'), title='Delete collection and contents', mode='listen-many', readonly_fields = [{'name' : 'collection_path', 'value': collection.path, 'label': 'Collection Path'}], hidden_fields=[{'name':'redirect_route', 'value': url_for('browse_bp.collection_browse', collection=breadcrumbs[-2]['url'])}], modal_class="modal-xl" )}}
      {% endif %}
    </div>
    <div class="tab-pane" id="collection-permissions">
      <div class="float-end">
        <p class="mt-3">
          <form method="post"
                action="{{ url_for('browse_bp.set_inheritance', collection_path = collection.path.lstrip('/'))}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="redirect_hash" value="#permissions"/>
            <div class="form-check form-switch">
              <label for "inheritance-checkbox" class="me-3 form-check-label">
                <b>Inheritance</b>
              </label>
              <input type="checkbox"
                     class="form-check-input"
                     name="inheritance"
                     onChange="this.form.submit()"
                     {% if collection.inheritance %}checked{% endif %}
                     {% if not 'own' in current_user_rights %}disabled{% endif %}/>
            </div>
          </form>
        </p>
      </div>
      <table class="table table-striped table-hover mt-2" id="permssions-table">
        <thead>
          <tr>
            {# <th scope="col">Select</th> #}
            <th scope="col">
              User / Group
            </th>
            <th scope="col">
              Access level
            </th>
            <th scope="col">
              Zone
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for permission in permissions %}
            <tr>
              <td>
                {{ permission.user_name }} ({{ acl_users_dict[permission.user_name] }})
              </td>
              <td>
                {{ permission.access_name }}
              </td>
              <td>
                {{ permission.user_zone }}
              </td>
              <td>
                {% if config['ACL_PROTECT_OWN'] and permission.access_name == 'own' and acl_counts['own'] < 2 %}
                  <p title="disabled: need at least 1 owner">
                    <button type="submit"
                            class="btn btn-grey"
                            disabled
                            title="At least one owner required">
                      <i class="bi bi-trash"></i>
                    </button>
                  </p>
                {% elif 'own' in current_user_rights %}
                  <form method="post"
                        action="{{ url_for('browse_bp.set_permissions', item_path=collection.path.lstrip('/')) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="groups" value="{{ permission.user_name }}" />
                    <input type="hidden" name="permission_type" value="null" />
                    <input type="hidden" name="redirect_hash" value="#permissions"/>
                    <button type="submit" class="btn">
                      <i class="bi bi-trash text-danger"></i>
                    </button>
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if 'own' in current_user_rights %}
        <form method="post"
              action="{{ url_for('browse_bp.set_permissions', item_path=collection.path.lstrip('/')) }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="redirect_hash" value="#permissions"/>
          <div class="row">
            <div class="col">
              <label for="permission_groups">
                Groups
              </label>
              <select class="form-select"
                      aria-label="Groups"
                      name="groups"
                      id="permission_groups">
                {% for group in my_groups %}
                  <option value="{{ group.name }}">
                    {{ group.name }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <label for="permission_type">
                Rights
              </label>
              <select class="form-select"
                      aria-label="Groups"
                      name="permission_type"
                      id="permission_type">
                <option value="own">
                  Own
                </option>
                <option value="write">
                  Modify
                </option>
                <option value="read">
                  Read
                </option>
              </select>
            </div>
            <div class="col">
              <input type="checkbox" name="recursive" id="set_recursive" value="True"/>
              <label for="set_recursive">
                Recursive
              </label>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary">
                Apply
              </button>
            </div>
          </div>
        </form>
      {% endif %}
      <!--{{ acl_users_dict |pprint }}-->
    </div>
  </div>
  <!-- Add meta data modal -->
  <div class="modal fade"
       id="addMetaData"
       tabindex="-1"
       aria-labelledby="addMetaDataLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMetaDataLabel">
            Add metadata
          </h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close">
          </button>
        </div>
        <form action="{{ url_for('metadata_bp.add_meta_data_collection')}}"
              method="post"
              enctype="multipart/form-data"
              class="row g-3 needs-validation"
              novalidate>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="redirect_hash" value="#metadata"/>
          <div class="modal-body">
            <div class="mb-3">
              <label for="meta-data-name-add" class="col-form-label">
                Name
              </label>
              <input type="text"
                     class="form-control"
                     id="meta-data-name-add"
                     name="meta-data-name"
                     required/>
              <div class="invalid-feedback">
                Name is required for metadata items
              </div>
            </div>
            <div class="mb-3">
              <label for="meta-data-value-add" class="col-form-label">
                Value
              </label>
              <input type="text"
                     class="form-control"
                     id="meta-data-value-add"
                     name="meta-data-value"
                     required/>
              <div class="invalid-feedback">
                A value is required for metadata items
              </div>
            </div>
            <div class="mb-3">
              <label for="meta-data-units-add" class="col-form-label">
                Unit
              </label>
              <input type="text"
                     class="form-control"
                     id="meta-data-units-add"
                     name="meta-data-units"/>
              <div class="valid-feedback">
                A unit is not required for metadata
              </div>
            </div>
            <input type="hidden"
                   id="collection-path-add"
                   name="collection-path"
                   value="{{ collection.path }}"/>
            <input type="hidden"
                   id="target-type-add"
                   name="target-type"
                   value="collection"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancel
            </button>
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--Edit meta data nodal -->
  <div class="modal fade"
       id="editMetaData"
       tabindex="-1"
       aria-labelledby="editMetaDataLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editMetaDataLabel">
            Update metadata
          </h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close">
          </button>
        </div>
        <form action="{{ url_for('metadata_bp.edit_meta_data_collection')}}"
              method="post"
              enctype="multipart/form-data"
              class="row g-3 needs-validation"
              novalidation>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="hidden" name="redirect_hash" value="#metadata"/>
          <div class="modal-body">
            <div class="mb-3">
              <label for="meta-data-name" class="col-form-label">
                Name
              </label>
              <input type="text"
                     class="form-control"
                     id="meta-data-name"
                     name="meta-data-name"
                     required/>
              <div class="invalid-feedback">
                Metadata field name is required
              </div>
            </div>
            <div class="mb-3">
              <label for="meta-data-value" class="col-form-label">
                Value
              </label>
              <input type="text"
                     class="form-control"
                     id="meta-data-value"
                     name="meta-data-value"
                     required/>
              <div class="invalid-feedback">
                Metadata field value is required
              </div>
            </div>
            <div class="mb-3">
              <label for="meta-data-units" class="col-form-label">
                Unit
              </label>
              <input type="text"
                     class="form-control"
                     id="meta-data-units"
                     name="meta-data-units"/>
            </div>
            <input type="hidden"
                   id="object-path-edit"
                   name="collection-path"
                   value="{{ collection.path }}"/>
            <input type="hidden"
                   id="target-type-edit"
                   name="target-type"
                   value="collection"/>
            <input type="hidden"
                   id="orig-meta-data-name"
                   name="orig-meta-data-name"
                   value=""/>
            <input type="hidden"
                   id="orig-meta-data-value"
                   name="orig-meta-data-value"
                   value=""/>
            <input type="hidden"
                   id="orig-meta-data-units"
                   name="orig-meta-data-units"
                   value=""/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancel
            </button>
            <button class="btn btn-primary" type="submit">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Delete modal -->
  <div class="modal fade"
       id="deleteMetaData"
       tabindex="-1"
       aria-labelledby="deleteMetaDataLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteMetaDataLabel">
            Delete metadata
          </h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close">
          </button>
        </div>
        <form action="{{ url_for('metadata_bp.delete_meta_data_collection')}}"
              method="post"
              enctype="multipart/form-data"
              class="row g-3 needs-validation"
              novalidation>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="redirect_hash" value="#metadata"/>
          <div class="modal-body">
            <div class="mb-3">
              <label for="meta-data-name-delete" class="col-form-label">
                Name
              </label>
              <input type="text"
                     class="form-control"
                     id="meta-data-name-delete"
                     name="meta-data-name"
                     readonly/>
              <div class="invalid-feedback">
                Metadata field name is required
              </div>
            </div>
            <div class="mb-3">
              <label for="meta-data-value-delete" class="col-form-label">
                Value
              </label>
              <input type="text"
                     class="form-control"
                     id="meta-data-value-delete"
                     name="meta-data-value"
                     readonly/>
              <div class="invalid-feedback">
                Metadata field value is required
              </div>
            </div>
            <div class="mb-3">
              <label for="meta-data-units" class="col-form-label">
                Unit
              </label>
              <input type="text"
                     class="form-control"
                     id="meta-data-units-delete"
                     name="meta-data-units"
                     readonly/>
            </div>
            <input type="hidden"
                   id="object-path-delete"
                   name="collection-path"
                   value="{{ collection.path }}"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancel
            </button>
            <button class="btn btn-danger" type="submit">
              Delete
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Add collection modal-->
  <div class="modal fade"
       id="addCollection"
       tabindex="-1"
       aria-labelledby="addCollectionLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCollectionLabel">
            Add collection
          </h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close">
          </button>
        </div>
        <form action="{{ url_for('browse_bp.add_collection')}}"
              method="post"
              enctype="multipart/form-data"
              class="row g-3 needs-validation"
              novalidate>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="modal-body">
            <div class="mb-3">
              <label for="collection-name-add" class="col-form-label">
                Name
              </label>
              <input type="text"
                     class="form-control"
                     id="collection-name-add"
                     name="collection_name"
                     required/>
              <div class="invalid-feedback">
                A collection name is required
              </div>
            </div>
            <input type="hidden"
                   id="collection-path-add"
                   name="parent_collection_path"
                   value="{{ collection.path }}"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancel
            </button>
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {# <div id="app">
  <welcome></welcome>
  <hello></hello>
  <tree-browser browse-root="{{ url_for('api_collection_tree', collection=browse_root) }}"></tree-browser>
</div>
#}
  <div class="row">
    {# temp #}
    {# {% for r in metadata_objects %}
      <p>
        {{ r|pprint }}
      </p>
    {% endfor %} #}
    {# endtemp #}
  </div>
  <!-- Delete modal -->
{% endblock body %}
{% block javascript %}
  {{ super() }}
  <script>
//function for applying action on all selected collections/files
function applyAction() {
  let action = document.getElementById("action_select").value;
  let selectedCollections = [];
  let selectedDataObjects = [];
  let rows = document.getElementById("browseTable").querySelectorAll("tr");
  let checkboxes = rows[0].querySelectorAll("[type=checkbox]");
  for (const checkbox of checkboxes){
    if (checkbox.checked){
      selectedDataObjects.push(checkbox.value);
    }
  }
  checkboxes = rows[1].querySelectorAll("[type=checkbox]");
  for (const checkbox of checkboxes){
    if (checkbox.checked){
      selectedCollections.push(checkbox.value);
    }
  }
  console.log(selectedCollections);
  console.log(selectedDataObjects)
  if (selectedCollections.length > 0 || selectedDataObjects.length > 0){
    switch(action) {
      case "move":
        // move selected items
        let treeBrowser = document.getElementById("tree_browser");
        tree_browser.style = "display: block!important";
        break;
      case "delete":
        // deleted selected items, TODO: api call
        for (const path of selectedCollections){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "{{url_for('browse_bp.delete_collection')}}");
          var formData = new FormData();
          formData.append("collection_path", path);
          xhr.send(formData);
        }
        for (const path of selectedDataObjects){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "{{url_for('browse_bp.delete_data_object')}}");
          var formData = new FormData();
          formData.append("data_object_path", path);
          xhr.send(formData);
        }
        break;
    }
  }

}

var editMetaData = document.getElementById('editMetaData')
editMetaData.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var fieldMDName = button.getAttribute('data-bs-meta-data-name')
  var fieldMDValue = button.getAttribute('data-bs-meta-data-value')
  var fieldMDUnit = button.getAttribute('data-bs-meta-data-units')
  var fieldObjectPath = button.getAttribute('data-bs-data-path')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = editMetaData.querySelector('.modal-title')
  var modalBodyInputMDName = editMetaData.querySelector('#meta-data-name')
  var modalBodyInputMDValue = editMetaData.querySelector('#meta-data-value')
  var modalBodyInputMDUnit = editMetaData.querySelector('#meta-data-units')
  var modalBodyInputDataPath = editMetaData.querySelector('#object-path')

  var modalBodyInputOrigMDName = editMetaData.querySelector('#orig-meta-data-name')
  var modalBodyInputOrigMDValue = editMetaData.querySelector('#orig-meta-data-value')
  var modalBodyInputOrigMDUnit = editMetaData.querySelector('#orig-meta-data-units')


  //modalTitle.textContent = 'Data object ' +
  modalBodyInputMDName.value = fieldMDName
  modalBodyInputMDValue.value = fieldMDValue
  modalBodyInputMDUnit.value = fieldMDUnit
  modalBodyInputDataPath = fieldObjectPath

  modalBodyInputOrigMDName.value = fieldMDName
  modalBodyInputOrigMDValue.value = fieldMDValue
  modalBodyInputOrigMDUnit.value = fieldMDUnit

})

//// Delete meta data listener for modal

var deleteMetaData = document.getElementById('deleteMetaData')
deleteMetaData.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var fieldMDName = button.getAttribute('data-bs-meta-data-name')
  var fieldMDValue = button.getAttribute('data-bs-meta-data-value')
  var fieldMDUnit = button.getAttribute('data-bs-meta-data-units')
  var fieldObjectPath = button.getAttribute('data-bs-data-path')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = deleteMetaData.querySelector('.modal-title')
  var modalBodyInputMDName = deleteMetaData.querySelector('#meta-data-name-delete')
  var modalBodyInputMDValue = deleteMetaData.querySelector('#meta-data-value-delete')
  var modalBodyInputMDUnit = deleteMetaData.querySelector('#meta-data-units-delete')
  var modalBodyInputDataPath = deleteMetaData.querySelector('#object-path-delete')


  //modalTitle.textContent = 'Data object ' +
  modalBodyInputMDName.value = fieldMDName
  modalBodyInputMDValue.value = fieldMDValue
  modalBodyInputMDUnit.value = fieldMDUnit
  modalBodyInputDataPath = fieldObjectPath

})

// open the active tab if specified by simulating a click() :)
var hash = window.location.hash;
hash && document.querySelector('a[href="'+hash+'"]').click()

// multi file upload Zone
// Note that the name "mangoDropzone" is the camelized id of the form.
Dropzone.options.mangoDropzone = {

    autoProcessQueue: false,
    dictDefaultMessage: "Click or drag files to upload here. When your selection is ready, click the buttton below to start the upload.",
    init: function () {
      var submitButton = document.querySelector("#submit-all")
      ourDropzone =  this;
      submitButton.addEventListener("click", function() {
        ourDropzone.processQueue();
      });
      // if there are more than the parallel uploads parameter, ensure that all get uploaded
      this.on("processing", function() { ourDropzone.options.autoProcessQueue = true; });
      // reload the page at the end to show the uploaded files in iRODS
      this.on('queuecomplete', function () {
        location.reload();
      });
    }
  };
//Dropzone.discover(); // from version 6 (using version 5.x)

  </script>
{% endblock javascript %}
