<p>You can use the information below to connect to the ManGO platform through various protocols.</p>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="pill" href="#irodsClients">iRODS clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="pill" href="#owncloud">ownCloud desktop sync</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="pill" href="#sftp">SFTP</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane container active p-1" id="irodsClients">

    <p class="mt-3">
      The ManGO platform is reachable over the iRODS protocol using the following connection information:
    </p>
    
    <table class="table table-sm table-borderless ml-20 mt-3">
    <tbody>
      <tr>
        <th>Hostname</th>
        <td>
          {{ info['irods_environment']['irods_host'] }}
        </td>
      </tr>
      <tr>
        <th>Port</th>
        <td>
          {{ info['irods_environment']['irods_port'] }}
        </td>
      </tr>
      <tr>
        <th>Zone</th>
        <td>
          {{ info['irods_environment']['irods_zone_name'] }}
        </td>
      </tr>
      <tr>
        <th>Username</th>
        <td>
          {{ info['irods_environment']['irods_user_name'] }}
        </td>
      </tr>
      <tr>
        <th>Login method</th>
        <td>
          <code>pam_interactive</code>
        </td>
      </tr>
    </tbody>
    </table>

    <p class="mt-3 mb-2">
      At KU Leuven the <code>iron</code> command line utility was developped for user-friendly access to your iRODS files. 
      Find the <a href="https://rdm-docs.icts.kuleuven.be/mango/clients/iron.html#installation">installation instructions</a>
      and <a href="https://rdm-docs.icts.kuleuven.be/mango/clients/iron.html#how-to-use-iron">how to use iron</a> at the RDM documentation pages.
    </p>
    <p>
      Run the snippet below to set up your environment and authenticate using <code>iron</code>:
    </p>
    <div class="code-container ms-2">
      <button class="copy-btn btn btn-sm" onclick="copyToClipboard(this)">
        <i class="bi bi-clipboard"></i> Copy
      </button>
      <pre><code class="user-select-all">iron auth {{ info['irods_environment']['irods_user_name'] }} {{ info['irods_environment']['irods_zone_name'] }} {{ info['irods_environment']['irods_host'] }}</code></pre>
    </div>
    <p>
      If the iRODS session gets expired, simply run <code>iron auth</code> without arguments to reauthenticate to the same iRODS zone. 
      The created session is also usable by other iRODS clients such as <a href="https://rdm-docs.icts.kuleuven.be/mango/clients/icommands.html#installation">iCommands</a>, <a href="https://rdm-docs.icts.kuleuven.be/mango/clients/python_client.html">PRC</a>.
    </p>

    <h6 class="mt-3"><button type="button" class="btn ps-0" data-bs-toggle="collapse" data-bs-target="#hpcJobScripts" aria-expanded="false" aria-controls="hpcJobScripts">
          <i class="bi bi-chevron-down"></i> How to use in HPC job scripts
        </button></h6>
    <div id="hpcJobScripts" class="accordion-collapse collapse" data-bs-parent="#irodsClients">
      <p>
        Ensure you have authenticated against the iRODS zone using the command above on the login node. During one month after the initial authentication,
        the following command will be able to refresh the iRODS session without interaction:
      </p>
      <div class="code-container ms-2">
        <button class="copy-btn btn btn-sm" onclick="copyToClipboard(this)">
          <i class="bi bi-clipboard"></i> Copy
        </button>
        <pre><code class="user-select-all">iron auth --non-interactive</code></pre>
      </div>
      <p>
        Put it in the front of your job script. You can control and extend the period in which the iRODS session can be refreshed at 
        {% if 'vsc' in info['irods_environment']['irods_user_name'] %}
        <a href="https://auth.vscentrum.be">https://auth.vscentrum.be</a>.
        {% else %}
        <a href="https://mango-auth.icts.kuleuven.be/">https://mango-auth.icts.kuleuven.be/</a>.
        {% endif %}
      </p>
      <p>
        If by any chance the iRODS session cannot be renewed, <code>iron auth ---non-interactive</code> will fail with exit code 1.
      </p>
    </div>

    <h6><button type="button" class="btn ps-0" data-bs-toggle="collapse" data-bs-target="#pythonModule" aria-expanded="false" aria-controls="pythonModule">
          <i class="bi bi-chevron-down"></i> How to authenticate in python scripts
        </button></h6>
    <div id="pythonModule" class="accordion-collapse collapse" data-bs-parent="#irodsClients">
      <p>
        Using the <code>iron</code> authentication above prepares the <code>.irods/irods_environment.json</code> and <code>.irods/.irodsA</code> files, that
        the python-irodsclient will read by default if 
      </p>
      <div class="code-container ms-2">
        <button class="copy-btn btn btn-sm" onclick="copyToClipboard(this)">
          <i class="bi bi-clipboard"></i> Copy
        </button>
        <pre><code class="user-select-all">iRODSSession(irods_env_file=os.path.expanduser('~/.irods/irods_environment.json'))</code></pre>
      </div>
      </p>
        is used to get an iRODS session in a python script/shell.
      </p>
      <p>
        However, it is also possible to do authenticate with python code only and integrate it in your scripts. For this, install the <code>mango_auth</code> pip module with the command:
      </p>
      <div class="code-container ms-2">
        <button class="copy-btn btn btn-sm" onclick="copyToClipboard(this)">
          <i class="bi bi-clipboard"></i> Copy
        </button>
        <pre><code class="user-select-all">pip install mango_auth</code></pre>
      </div>
      <p>
        Use the following command to authenticate against iRODS (this is equivalent to <code>iron auth</code>):
      </p>
      <div class="code-container ms-2">
        <button class="copy-btn btn btn-sm" onclick="copyToClipboard(this)">
          <i class="bi bi-clipboard"></i> Copy
        </button>
        <pre><code class="user-select-all">mango_auth {{ info['irods_environment']['irods_user_name'] }} {{ info['irods_environment']['irods_zone_name'] }} {{ info['irods_environment']['irods_host'] }}</code></pre>
      </div>
      <p>
        Or equivalently, in a python script/shell:
      </p>
      <div class="code-container ms-2">
        <button class="copy-btn btn btn-sm" onclick="copyToClipboard(this)">
          <i class="bi bi-clipboard"></i> Copy
        </button>
        <pre><code class="user-select-all">from mango_auth import iinit
iinit("{{ info['irods_environment']['irods_user_name'] }}", "{{ info['irods_environment']['irods_zone_name'] }}", "{{ info['irods_environment']['irods_host'] }}")</code></pre>
      </div>
    </div>

    <h6><button type="button" class="btn ps-0" data-bs-toggle="collapse" data-bs-target="#linuxPamInteractive" aria-expanded="false" aria-controls="linuxPamInteractive">
          <i class="bi bi-chevron-down"></i> With iCommands only for Linux operating systems
        </button></h6>
    <div id="linuxPamInteractive" class="accordion-collapse collapse" data-bs-parent="#irodsClients">
      <p>
        If the <code>iron</code> command is not available, it is also possible to authenticate with iCommands only on Linux operating systems.
        Make sure that your iRODS icommands installation is 5.0.0 or above and includes the <code>irods-auth-plugin-pam-interactive-client</code> package.
        Run the snippet below to configure an iRODS client under Linux.
      </p>
      <div class="code-container ms-2">
        <button class="copy-btn btn btn-sm" onclick="copyToClipboard(this)">
          <i class="bi bi-clipboard"></i> Copy
        </button>
        <pre><code class="user-select-all">mkdir -p ~/.irods
cat > ~/.irods/irods_environment.json <<'EOF'
{{ setup_json['linux_pam_interactive'] }}
EOF
iinit --ttl 168 && echo You are now authenticated to iRODS.
</code></pre>
      </div>
      <p>
        The iRODS session remains valid for one week. Run <code>iinit --ttl 168</code> again to refresh.
        In contrast to authentication with <code>iron</code>, a login URL will be shown every time.
      </p>
    </div>

    <h6><button type="button" class="btn ps-0" data-bs-toggle="collapse" data-bs-target="#otherApplications" aria-expanded="false" aria-controls="otherApplications">
          <i class="bi bi-chevron-down"></i> Authentication in other iRODS applications
        </button></h6>
    <div id="otherApplications" class="accordion-collapse collapse" data-bs-parent="#irodsClients">
      <p>
        In principal, any existing iRODS tool might be used to connect to the ManGO zones, provided it supports TLS encryption and the <code>pam_interactive</code> authentication scheme, although your mileage may vary.
      </p>
      <p>
        Consult the <a href="https://rdm-docs.icts.kuleuven.be/mango/clients.html">client list at the RDM documentation pages</a> to check which clients we actively support.
      </p>
      <p>
        In case you want to connect using a third party client not supporting <code>pam_interactive</code>, you might try with the <code>native</code> authentication method and the following password:
      </p>
      <table class="table table-sm table-borderless ml-20 mt-3">
      <tbody>
        <tr>
          <th>Login method</th>
          <td>
            <code>native</code>
          </td>
        </tr>
        <tr>
          <th>Password</th>
          <td>
            <div class="code-container">
              <button class="copy-btn btn btn-sm" onclick="copyToClipboard(this)">
                <i class="bi bi-clipboard"></i> Copy
              </button>
              <code>{{ info['token'] }}</code>
            </div>
          </td>
        </tr>
      </tbody>
      </table>
      <p>
        The provided password is valid until {{ info['expiration']|format_timestamp }}, refresh the page to get a
        new password.
      </p>
    </div>

    

    {% if 'hpc-irods-setup-zone' in info %}
    <h6><button type="button" class="btn ps-0" data-bs-toggle="collapse" data-bs-target="#linuxHPC" aria-expanded="false" aria-controls="linuxHPC">
          <i class="bi bi-chevron-down"></i> Deprecated: The irods-setup command on HPC infrastructure
        </button></h6>
    <div id="linuxHPC" class="accordion-collapse collapse" data-bs-parent="#irodsClients">
      <p>
        <i>This method is deprecrated and this information will be removed February 1st, 2026. The method itself will continue to work until April 1st, 2026, afterwards the setup-irods command will be removed.</i>
      </p>
      <p>
        On the HPC tier1 or tier2 clusters in Leuven, run the snippet below to
        configure an iRODS client. The iRODS session itself will last for a
        week, afterwards repeat the command.
      </p>
      <div class="code-container ms-2">
        <pre><code>irods-setup --zone {{ info['hpc-irods-setup-zone'] }} | bash</code></pre>
      </div>
      <p>
        From other HPC clusters in flanders, you can run
        <code class="user-select-all">ssh login.hpc.kuleuven.be irods-setup --zone
          {{ info['hpc-irods-setup-zone'] }} | bash</code>. If this command through ssh does not work, please run it without
        <code>| bash</code> to troubleshoot.
      </p>
    </div>
    {% endif %}

    <h6><button type="button" class="btn ps-0" data-bs-toggle="collapse" data-bs-target="#linuxNative" aria-expanded="false" aria-controls="linuxNative">
          <i class="bi bi-chevron-down"></i> Deprecated: Authentication with iCommands using native password
        </button></h6>
    <div id="linuxNative" class="accordion-collapse collapse" data-bs-parent="#irodsClients">
      <p>
        <i>This method is deprecrated and this information will be removed February 1st, 2026.</i>
      </p>
      <p>
        If your installation lacks the <code>irods-auth-plugin-pam-interactive-client</code> package, run the snippet below to configure an iRODS client under Linux. The
        iRODS session is valid
        {% if info['irods_environment']['irods_authentication_scheme'] == 'pam_password' %}
          for one week
        {% else %}
          until {{ info['expiration']|format_timestamp }}
        {% endif %}
        .
      </p>
      <div class="code-container ms-2">
        <button class="copy-btn btn btn-sm" onclick="copyToClipboard(this)">
          <i class="bi bi-clipboard"></i> Copy
        </button>
        <pre><code class="user-select-all">mkdir -p ~/.irods
cat > ~/.irods/irods_environment.json <<'EOF'
{{ setup_json['linux'] }}
EOF
echo '{{ info['token'] }}' | iinit {% if info['irods_environment']['irods_authentication_scheme'] == 'pam_password' %}--ttl 168{% endif %} >/dev/null && echo You are now authenticated to iRODS.
</code></pre>
      </div>
    </div>

    <h6><button type="button" class="btn ps-0" data-bs-toggle="collapse" data-bs-target="#pythonScript" aria-expanded="false" aria-controls="pythonScript">
          <i class="bi bi-chevron-down"></i> Deprecated: Authentication with python-irodsclient only and native password, on Windows
        </button></h6>
    <div id="pythonScript" class="accordion-collapse collapse" data-bs-parent="#irodsClients">
      <p>
        <i>This method is deprecrated and this information will be removed February 1st, 2026.</i>
      </p>
      <p>
        Start a python interactive shell, and paste the snippet below to setup
        the necessary files to authenticate against iRODS. The script assumes
        that you installed the <code>python-irodsclient</code>. It will write
        the iRODS environment file and a password file.
        {% if info['irods_environment']['irods_authentication_scheme'] == 'pam_password' %}
          The validity period of the password depends on server configuration
          and the version of python-irodsclient. For version 1.0.0, this is 60 hours,
          for version 2.0.0 only 2 minutes.
        {% else %}
          The written password file will be valid until {{ info['expiration']|format_timestamp }}.
        {% endif %}
      </p>
      <div class="code-container ms-2">
        <button class="copy-btn btn btn-sm" onclick="copyToClipboard(this)">
          <i class="bi bi-clipboard"></i> Copy
        </button>
        <pre><code class="user-select-all">config = """
{{ setup_json['windows'] }}
"""
password = "{{ info['token'] }}"

import os, os.path, irods
from irods.session import iRODSSession
from irods.password_obfuscation import encode

if irods.__version__.startswith(("1.", "0.")):
  print("You are using an outdated version of the python iRODS client. Please update to 2.0.0 as soon as possible")
{%- if info['irods_environment']['irods_authentication_scheme'] == 'pam_password' %}
config = config.replace("pam_password", "PAM")
{%- endif %}

def put(file, contents):
  os.makedirs(os.path.dirname(file), exist_ok=True)
  with open(file, "w") as f:
    f.write(contents)

env_file = os.getenv('IRODS_ENVIRONMENT_FILE', os.path.expanduser('~/.irods/irods_environment.json'))
put(env_file, config)
{% if info['irods_environment']['irods_authentication_scheme'] == 'pam_password' -%}
with iRODSSession(irods_env_file=env_file, password=password) as session:
put(iRODSSession.get_irods_password_file(), encode(session.pam_pw_negotiated[0], uid=1000))
{% else -%}
put(iRODSSession.get_irods_password_file(), encode(password, uid=1000))
{% endif -%}
</code></pre>
      </div>
    </div>

    <!--
    <h6><button type="button" class="btn ps-0" data-bs-toggle="collapse" data-bs-target="#rirods" aria-expanded="false" aria-controls="linuxNative">
          <i class="bi bi-chevron-down"></i> How to connect in R with rirods
        </button></h6>
    <div id="rirods" class="accordion-collapse collapse" data-bs-parent="#irodsClients">
      <p>
        Run the snippet below in an interactive session in R:
      </p>
      <div class="code-container ms-2">
        <button class="copy-btn btn btn-sm" onclick="copyToClipboard(this)">
          <i class="bi bi-clipboard"></i> Copy
        </button>
        <pre><code class="user-select-all">library(rirods)
create_irods("https://{{ info["irods_environment"]["irods_host"] }}/irods-http-api/{{ info['http_api_version'] }}", overwrite=TRUE)
iauth("{{ info['irods_environment']['irods_user_name'] }}", "{{ info['token'] }}")
# or alternatively:
# iauth("{{ info['irods_environment']['irods_user_name'] }}") # and provide the password when prompted
</code></pre>
      </div>
      <p>
        The written password file will be valid until {{ info['expiration']|format_timestamp }}.
      </p>
    </div>
    -->

  </div>


  <!--
      

  -->


    <div class="tab-pane container fade p-1" id="owncloud">
      <p class="mt-3">
        The ownCloud desktop sync application can be used to synchorize an iRODS folder to your local workstation.

        See the instructions below or the <a href="https://rdm-docs.icts.kuleuven.be/mango/clients/owncloud.html">RDM documentation pages</a> for more detailed information.
      </p>
      <p>
        <i>The use of ownCloud is currently in an open pilot phase. Please report any feedback to the RDM team.</i>
      </p>
      <ol>
        <li>Ensure the ownCloud desktop client for Windows or Linux is installed via your local IT-support, or via the installation instructions at <a href="https://owncloud.com/desktop-app">https://owncloud.com/desktop-app</a>.</li>
        <li>Open ownCloud and click on "Add account". On the box to provide your server's address, enter a URL:
          <div class="code-container ms-2 mt-2">
            <button class="copy-btn btn btn-sm" onclick="copyToClipboard(this)">
              <i class="bi bi-clipboard"></i> Copy
            </button>
            <pre><code class="user-select-all">https://{{ desktop_sync }}</code></pre>
          </div>
        </li>
        <li>Click on "Open Browser" to log in to ownCloud. To grant privileges to ownCloud click on "Agree and continue to the application".</li>
        <li>In the client, you get "You're all set!" message and there is a checkbox to select advanced configuration. <strong>Check the "Advanced configuration" box.</strong></li>
        <li>Additional options on the configuration show up. Options under advanced configuration Select "Configure synchronization manually" to manually determine what is synced, otherwise you pull-in all the files you have access to.</li>
        <li>Pick a local folder on your computer to sync. Navigate to the ManGO Project you want to synchronize locally.</li>
        <li>Keep checked the option to "Use virtual files instead of downloading content manually" and click on "Add sync connection".</li>
      </ol>
    </div>
    <div class="tab-pane container fade p-1" id="sftp">
      <p class="mt-3">
        You can also use SFTP to connect to iRODS and use programs such as Filezilla, WinSCP or <code>lftp</code>.
        It is a file transfer protocol on top of SSH and SSH certificates are used for authentication.
      </p>
      <ol>
        {% if '-hpc-' in jobid %}
          <li>
            You need to run an <code>ssh-agent</code> capable of handling SSH certificates.
            <br />
            For Windows, <a href="https://www.chiark.greenend.org.uk/~sgtatham/putty/latest.html">Pageant 0.78</a> or above can be used.
            For Linux, the standard OpenSSH agent will work.
          </li>
          <li>
            Connect with e.g. Putty to <code>firewall.vscentrum.be</code> with agent forwarding enabled.
            After having successfully connected, an SSH certificate should be injected in your forwarded agent.
          </li>
        {% else %}
          <li>
            Install <a href="https://admin.kuleuven.be/icts/services/ssh-cert">certagent or kmk</a> on your local machine
            and use it to retrieve an SSH certificate.
          </li>
        {% endif %}
        <li>
          Open FileZilla or WinSCP, and connect using the following information:
          <dl class="mx-auto ml-20 mt-3">
            <dt>Hostname</dt>
            <dd>
              {{ sftp_host }}
            </dd>
            <dt>Port</dt>
            <dd>
              22
            </dd>
            <dt>Username</dt>
            <dd>
              {{ info['irods_environment']['irods_user_name'] }}
            </dd>
            <dt>Password</dt>
            <dd>
              Leave empty. For FileZilla set 'Authentication type' to 'Interactive'.
            </dd>
          </dl>
          Or use <code>lftp -u {{ info['irods_environment']['irods_user_name'] }}, sftp://{{ sftp_host }}</code>.
        </li>
      </ol>
    </div>
