{% extends "base_core.html.j2" %}
{% block custom_style %}
    <style>
div#login-form {
    background-image: url({{ url_for('static', filename='unsplash-mango.jpg') }});
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    /* You may add things like width, height, background-size... */
}
    </style>
{% endblock custom_style %}
{% block body %}
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-9 rounded-3" id="login-form">
                <h3>Login to Mango, your Active Data Portal</h3>
                <p class="mb-4">Please select the infrastructure you want to login to</p>
                <form action="{{ url_for('data_platform_user_bp.login_openid') }}"" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="form-group mb-3">
                        <label for="openid_provider">Login Provider</label>
                        <select class="form-select" name="openid_provider" id="irods_zone">
                            {% for openid_provider in openid_providers %}
                                <option value="{{ openid_provider }}"
                                        {% if openid_provider == last_openid_provider %}selected{% endif %}>
                                    {{ openid_providers[openid_provider]['label'] }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="Log In" class="btn btn-block btn-primary mb-3"/>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
