{% extends "base_openid.html.j2" %}
{% block body %}
    <h3>Login to Mango, your Active Data Repository</h3>
    <p class="mb-4">Please select the infrastructure you want to login to</p>
    <form action="{{ url_for('data_platform_user_bp.login_openid') }}"" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group mb-3">
            <label for="openid_provider">Login Provider</label>
            <select class="form-select" name="openid_provider" id="irods_zone">
                {% for openid_provider in openid_providers %}
                    <option value="{{ openid_provider }}"
                            {% if openid_provider == last_openid_provider %}selected{% endif %}>
                        {{ openid_providers[openid_provider]['label'] }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Log In" class="btn btn-block btn-primary mb-3"/>
    </form>
{% endblock body %}
