{% extends "base_openid.html.j2" %}

{% block body %}
    <h3>Login to Mango, your Active Data Portal</h3>
    <p class="mb-4">Please select the zone you want to login to</p>
    <form action="{{ url_for('data_platform_user_bp.login_openid_select_zone') }}"" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group mb-3">
            <label for="irods_zone">iRODS zone</label>
            <select class="form-select" name="irods_zone" id="irods_zone">
                {% for zone_name in zones %}
                    <option value="{{ zone_name }}"
                            {% if zone_name == last_zone_name %}selected{% endif %}>
                        {{ zone_name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Log In" class="btn btn-block btn-primary mb-3"/>
    </form>

    <p class="mb-4">You have the following projects:</p>

    <div class="row">
        <div class="col">
            <div class="card">
            <div class="card-header">
                <h1 class="bi bi-archive display-1"></h1>
                </div>
                <ul class="list-group list-group-flush">
                {% for project in projects %}
                    <li class="list-group-item"><a href="{{url_for('data_platform_project_bp.project', project_name = project.name)}}">{{project.name}}</a>
                    
                    {% if project['platform'] == "irods" %}
                    {% for opt in project['platform_options'] %}
                    {% if opt['key'] == 'zone-jobid' %}
                    {% for zone in zones %}
                    {% if zone['jobid'] == opt['value'] %}
                    (zone {{ zone['fqdn'] }})
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    ({{ project['platform'] }})
                    {% endif %}
                    
                    </li>
                {%endfor%}
                </ul>
            </div>
        </div>
    </div>

{% endblock body %}
