{% extends "base_openid.html.j2" %}

{% block body %}
    <h3>Login to Mango, your Active Data Portal</h3>

    {% if projects|length == 0 %}
    <p class="mt-4">You have no active project registered. Please contact the service desk for more information about ManGO.</p>
    {% else %}
    <p class="mb-4">Please select the zone/project you want to login to:</p>

    <div class="row">
        <div class="col">
            {% for zone_name in zones %}
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="bi bi-archive mt-2">
                    iRODS zone {{ zone_name }}</h4>
                </div>
                {% if zone_name in my_zones %}
                <form action="{{ url_for('data_platform_user_bp.login_openid_select_zone') }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="irods_zone" value="{{ zone_name }}" />
                    <div class="d-flex p-2">
                        <input type="submit" name="submit" value="Enter portal" class="btn btn-block btn-primary m-1"/>
                        <input type="submit" name="submit" value="How to connect" class="btn btn-block btn-primary m-1"/>
                    </div>
                </form>
                {% endif %}
                <table class="table table-striped table-hover mt-2 mb-0">
                  <colgroup>
                    <col class="col-md-5" />
                    <col class="col-md-3" />
                    <col class="col-md-4" />
                  </colgroup>
                  <thead>
                    <th>Project</th>
                    <th>Role</th>
                    <th>Actions</th>
                  </thead>
                  <tbody>
                {% for project in projects %}
                {% if project['zone'] == zone_name %}
                    <tr>
                      <td class="bi bi-folder fs-6 align-middle">
                        <a href="{{url_for('data_platform_project_bp.project', project_name = project.name)}}">{{project.name}}</a>
                      </td>
                      <td class="fs-6 align-middle">
                        {{project['my_role']}}
                      </td>
                      <td class="text-nowrap">
                        {% if project['my_role'] == 'owner' or admin %}
                        <a class="btn btn-block btn-secondary" href="{{url_for('data_platform_project_bp.project', project_name = project.name)}}">Edit members</a>
                        <a class="btn btn-block btn-secondary" href="{{url_for('data_platform_project_bp.api_token', project_name = project.name, type = "ingress")}}">Retrieve API token</a>
                        {% else %}
                        <a class="btn btn-block btn-secondary" href="{{url_for('data_platform_project_bp.project', project_name = project.name)}}">View details</a>
                        {% endif %}
                      </td>
                    </tr>
                {% endif %}
                {% endfor %}
                  </tbody>
                </table>
            </div>
            {% endfor %}

            {% for project in projects %}
            {% if 'zone' not in project %}
            <div class="card">
                <div class="card-header">
                    <h4 class="bi bi-archive mt-2">
                    {{project['platform']}} {{ project.name }}</h4>
                </div>
                <div class="d-flex p-2">
                    <input type="submit" value="Edit members" class="btn btn-block btn-primary"/>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    </form>
    {% endif %}

{% endblock body %}
