{% extends "base.html.j2" %}
{% block body %}
  <div class="alert alert-danger" role="alert">The requested resource exceeds the size limit</div>
  {% if e %}<div class="alert alert-danger" role="alert">{{ e }}</div>{% endif %}
{% endblock body %}
