{% import "dialogs.html.j2" as dialogs %}
{% set own_or_write = ["own", "delete_object", "delete object", "modify", "modify object", "modify_object", "write"] %}
{% macro permission_block(item_path, permissions, acl_users_dict, acl_counts, my_groups=[], group_filter_exclude=[], current_user_rights = [], recursive=false, read_only = false ) %}


    <table class="table table-striped table-hover mt-2" id="permssions-table">
        <thead>
            <tr>
                {# <th scope="col">Select</th> #}
                <th scope="col">User / Group</th>
                <th scope="col">Access level</th>
                <th scope="col">Zone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for permission in permissions %}
                <tr>
                    <td>{{ permission.user_name }} ({{ acl_users_dict[permission.user_name] }})</td>
                    <td>{{ permission.access_name }}</td>
                    <td>{{ permission.user_zone }}</td>
                    <td>
                        {% if not read_only %}
                            {% if config['ACL_PROTECT_OWN'] and permission.access_name == 'own' and acl_counts['own'] < 2 %}
                                <p title="disabled: need at least 1 owner">
                                    <button type="submit"
                                            class="btn btn-grey"
                                            disabled
                                            title="At least one owner required">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </p>
                            {% elif 'own' in current_user_rights %}
                                <form method="post"
                                      action="{{ url_for('browse_bp.set_permissions', item_path=item_path) }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="groups" value="{{ permission.user_name }}" />
                                    <input type="hidden" name="permission_type" value="null" />
                                    <input type="hidden" name="redirect_hash" value="#permissions" />
                                    <button type="submit" class="btn">
                                        <i class="bi bi-trash text-danger"></i>
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if 'own' in current_user_rights and not read_only %}
        <form method="post"
              action="{{ url_for('browse_bp.set_permissions', item_path=item_path) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="redirect_hash" value="#permissions" />
            <div class="row">
                <div class="col">
                    <label for="permission_groups">Groups</label>
                    <select class="form-select"
                            aria-label="Groups"
                            name="groups"
                            id="permission_groups">
                        {% for group in my_groups %}<option value="{{ group.name }}">{{ group.name }}</option>{% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="permission_type">Rights</label>
                    <select class="form-select"
                            aria-label="Groups"
                            name="permission_type"
                            id="permission_type">
                        <option value="own">Own</option>
                        <option value="write">Modify</option>
                        <option value="read">Read</option>
                    </select>
                </div>
                {% if recursive %}
                    <div class="col">
                        <input type="checkbox" name="recursive" id="set_recursive" value="True" />
                        <label for="set_recursive">Recursive</label>
                    </div>
                {% endif %}
                <div class="col">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endmacro %}
{% macro bulk_operations(current_user_rights) -%}
    <div class="btn-toolbar justify-content-between"
         role="toolbar"
         aria-label="Bulk operations"
         id="bulk-operations">
        <div class="btn-group" role="group" aria-label="Buttons">
            {% if (current_user_rights | intersection(own_or_write)) %}
                <button type="button"
                        class="btn btn-light"
                        onclick="bulk_delete()"
                        id="bulk-delete"
                        disabled>
                    <i class="bi bi-trash" fill="currentColor"></i> Delete
                </button>
                <button type="button"
                        class="btn btn-light"
                        onclick="bulk_move()"
                        id="bulk-move"
                        disabled>
                    <i class="bi bi-send" fill="currentColor"></i> Move
                </button>
            {% endif %}
            <button type="button"
                    class="btn btn-light"
                    onclick="bulk_copy()"
                    id="bulk-copy"
                    disabled>
                <i class="bi bi-copy" fill="currentColor"></i> Copy
            </button>
            <button type="button"
                    class="btn btn-light"
                    onclick="bulk_download()"
                    id="bulk-download"
                    disabled>
                <i class="bi bi-download" fill="currentColor"></i> Download
            </button>
        </div>
    <span class="text-body-secondary mt-2"><i class="bi bi-exclamation-triangle" fill="currentColor"></i>
    Copying/Download is only available for data objects.
</span>
</div>
<bulk-links tree="{{ url_for("browse_bp.get_sub_collections") }}" />
{% endmacro -%}
{% macro show_schema_metadata(name, info, schema_info, schema_metadata, level = 0, unit = None) %}
    {% if info['type'] == 'object' %}
        <div class="border border-1 border-secondary rounded p-3 my-1">
            <h4 title="{{ name }}">{{ info['label'] }}</h4>
            {% set subfields = schema_metadata[name] %}
            {% if subfields|length == 0 %}
                <hr />
                <p class="fw-light">(Empty)</p>
            {% else %}
                {% set instances = subfields.keys() %}
                {% for unit_value in instances %}
                    <hr />
                    {% for sub_name in info['properties'] %}
                        {% if schema_info[sub_name]['level'] == level + 1 %}
                            {{ show_schema_metadata(sub_name, schema_info[sub_name], schema_info, subfields[unit_value], level + 1, unit_value) }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        {% set items = schema_metadata.getall(name, []) %}
        <h5 title="{{ name }}">{{ info['label'] }}</h5>
        {% if items|length == 0 %}
            <p class="fw-light">(Empty)</p>
        {% elif items|length == 1 %}
            <p>{{ items[0].value | bleach_clean(tags=['br']) | safe }}</p>
        {% else %}
            <p>{{ items | map(attribute='value') | join(', ') | safe }}</p>
        {% endif %}
    {% endif %}
{% endmacro %}
{% macro metadata_block(object_id, object_path, grouped_metadata, schemas, schema_labels, readonly_prefixes=(""), item_type="collection", read_only=False, current_user_rights=[], realm="", flattened_schemas={}, reorganized_dict={}) %}
    {% if not read_only and (current_user_rights | intersection(own_or_write)) %}
     
     <div class="d-flex align-items-center">
        <button type="button"
                class="btn btn-secondary"
                data-bs-toggle="modal"
                data-bs-target="#addMetaData">Add individual metadata</button>
<div class="dropdown ms-1 ">
    <button class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            id="addSchemaDropdown"
            aria-expanded="false">Add schema metadata</button>

    <ul class="dropdown-menu" id="addSchemaList">
        {% for schema in schemas if schema not in grouped_metadata["schema"] %}
        <li><a class="dropdown-item" id="link" href="#" data-value="{{ schema }}">{{ schemas[schema]["title"] }}</a></li>
        {% endfor %}

    </ul>
</div>
<div class="flex-grow-1"> </div> <!-- spacer to push download button to the right --> 

     <button type="button"
                class="btn btn-secondary"
                data-bs-toggle="modal"
                data-bs-target="#downloadMetaData"> Download metadata </button>
</div>
<!-- form to add schema metadata --> 
       <form id="addSchemaForm"  
              method="get"
              action="{{ url_for("metadata_schema_form_bp.edit_schema_metadata_for_item") }}">
            <input type="hidden" name="item_type" value="{{ item_type }}" />
            <input type="hidden" name="id" value="{{ object_id }}" />
            <input type="hidden" name="object_path" value="{{ object_path }}" />
            <input type="hidden" name="realm" value="{{ realm }}" />
            <input type="hidden" name="status" value="published" />
            <input type="hidden" name="schema" value=""  /> 
        </form>

        <script>  // script to submit the form based on the schema selected using dropdown menu 
                        document.getElementById("addSchemaList").querySelectorAll("[data-value]").forEach((li) => {
                            li.addEventListener("click", () => {
                            document.querySelector('#addSchemaForm input[name="schema"]').value = li.getAttribute("data-value");
                            document.getElementById("addSchemaForm").submit();
                            });
                        });
                        if (document.querySelectorAll("#addSchemaList li").length === 0) { 
                            document.getElementById("addSchemaDropdown").disabled = true;
                        }
        </script>
    {% endif %}
    <!-- nav top bar -->
    <ul class="nav nav-pills mb-3 mt-3"
        id="metadata-groups-tab"
        role="tablist">
        {% set top_levels = [('schema', 'Schemas'), ('analysis', 'Automatic extraction'), ('other', 'Other metadata')] %}   
        {% for top_level, top_level_title in top_levels if top_level in grouped_metadata %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if loop.first %}active{% endif %}"
                        id="pills-{{ top_level }}-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-{{ top_level }}"
                        type="button"
                        role="tab"
                        aria-controls="pills-{{ top_level }}"
                        {% if loop.first %}aria-selected="true"{% else %}aria-selected="false"{% endif %}>
                    {{ top_level_title }}
                </button>
            </li>
        {% endfor %}
    </ul>

<!-- Download modal -->
<div class="modal fade"
     id="downloadMetaData"
     tabindex="-1"
     aria-labelledby="downloadMetaDataLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg"> <!-- make the modal large --> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="downloadMetaDataLabel">Download metadata</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="{{ url_for("metadata_bp.add_meta_data") }}"
                  method="post"
                  enctype="multipart/form-data"
                  class="row g-3 needs-validation"
                  novalidate>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="redirect_hash" value="#metadata" />
                <div class="modal-body">
                    <div class="d-flex flex-row"> 

                    <div class="accordion" id="metadata-download-checkboxes">
                        {% for top_level, top_level_title in top_levels if top_level in grouped_metadata %}
                            <div class="accordion-item" >
                                <div class="form-check m-2">
                                    <input id="download_{{ top_level }}"
                                           class="form-check-input"
                                           type="checkbox"
                                           checked>
                                    <label for="#download_{{ top_level }}"
                                           data-bs-toggle="collapse"
                                           data-bs-target="#download_subclass_{{ top_level }}"
                                           class="form-check-label" style="cursor: pointer">{{ top_level_title }}</label>  <!-- add a pointer here --> 
                                </div>
                                <div id="download_subclass_{{ top_level }}"
                                     class="accordion-collapse show">
                                    <div class="accordion-body pt-1">
                                        {% for sublevel in grouped_metadata[top_level] %}
                                            <div class="form-check pt-0">
                                                <input id="download_{{ top_level }}_{{ sublevel }}"
                                                       class="form-check-input"
                                                       type="checkbox"
                                                       name="{{ sublevel }}"
                                                       data-mg-parent="{{ top_level }}"
                                                       data-mg-level="second-level"
                                                       checked>
                                                <label for="#download_{{ top_level }}_{{ sublevel }}"
                                                       class="form-check-label">{{ sublevel }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <pre class="border p-1 bg-light"
                         style="white-space: pre-wrap; min-width: 65%;"
                         id="metadata-json"> </pre>
                
                    </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href=""
                       class="btn btn-primary"
                       type="button"
                       id="download-metadata"
                       download='{{ object_path.split("/")[-1] }}.metadata.json'> Download</a> 
        </div>
    </form>
</div>
</div>

   <script>
                    // get metadata as object literal
                    let metadata = JSON.parse({{reorganized_dict | tojson if reorganized_dict else "{}"}})     
                    console.log(metadata)               
                    
                    // stringify the metadata 
                    let json_metadata = JSON.stringify(metadata, null, "  ")
                    
                    // print stringified metadata
                    document.querySelector("pre#metadata-json").innerHTML = json_metadata;
                    
                    // download metadata 
                    document.querySelector("a#download-metadata").href = `data:text/json;charset=utf-8,${json_metadata}`

                    // make a list of all the checkboxes
                    let metadataCheckboxes = document.querySelector("div#metadata-download-checkboxes").querySelectorAll("input")


                    // function to filter using checkboxes
                    function filterCheckboxes() { 
                       
                        let filtered_json = {};
                        [...metadataCheckboxes].filter((x) => x.checked).forEach((x)=> {
                            const checkbox_parent = x.getAttribute("data-mg-parent");
                            if (checkbox_parent == "schema" || checkbox_parent == "analysis") {  // schema or analysis
                                if (!(checkbox_parent in filtered_json)) {
                                    filtered_json[checkbox_parent] = {}   // create the dictionary
                                }
                                    filtered_json[checkbox_parent][x.name] = metadata[checkbox_parent][x.name];  // add metadata
                            }
                            else {  
                               filtered_json[x.name] = metadata[x.name] // get the key from main object and add it to filtered_json   
                            }
                        })
                   
                        json_metadata = JSON.stringify(filtered_json, null, "  ");
                        document.querySelector("pre#metadata-json").innerHTML = json_metadata;
                        document.querySelector("a#download-metadata").href = `data:text/json;charset=utf-8,${json_metadata}`
                    }
                    
                    //add functionalities to checkboxes
                    metadataCheckboxes.forEach((checkbox)=> { 
                        if (checkbox.getAttribute("data-mg-level") == "second-level") {   //for metadata on the second level do this
                            checkbox.addEventListener("change", () => {
                                filterCheckboxes()
                                let parentCheckbox = checkbox.closest(".accordion-item");
                                let input = parentCheckbox.querySelector("input:not([data-mg-level])");
                                if (checkbox.checked == false) { // uncheck parent checkbox
                                    input.checked = false;
                                }
                                else {   // check if all checkboxes are checked if checked is true check parent
                                    if ([...parentCheckbox.querySelectorAll("input[data-mg-level]")].every((x) => x.checked)) {
                                        input.checked = true;
                                    }
                               
                                }
                            })
                        }
                                
                    else {
                        //for metadata on the first level do this
                        checkbox.addEventListener("change", () => {
                        let inputs = checkbox.closest(".accordion-item").querySelectorAll("input[data-mg-level]");
                        if (checkbox.checked) {
                            [...inputs].forEach((input) => input.checked = true)  // check all children
                            filterCheckboxes()
                        } else {
                            [...inputs].forEach((input) => input.checked = false) // uncheck all children
                            filterCheckboxes()
                        }
                        })
                        }
                        })

                    </script>

</div>

    <!-- content-->
    <div class="tab-content" id="pills-tabContent-schema">
        {% for top_level, top_level_title in top_levels if top_level in grouped_metadata %}
            <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
                 id="pills-{{ top_level }}"
                 role="tabpanel"
                 aria-labelledby="pills-{{ top_level }}-tab">
                <div class="accordion" id="parent-accordion-{{ top_level }}">
                    {% for sublevel in grouped_metadata[top_level] %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#accordion-{{ sublevel }}">
                                    {{ schema_labels[sublevel]["title"] if top_level == "schema" and sublevel in schema_labels else sublevel }}
                                </button>
                            </h2>
                        </div>
                        <div id="accordion-{{ sublevel }}"
                             class="accordion-collapse collapse {% if grouped_metadata[top_level]|length == 1 %}show{% endif %}"
                             data-bs-parent="#parent-accordion-{{ top_level }}">
                            <div class="accordion-body">
                                {% if top_level == "schema" and sublevel in schema_labels and grouped_metadata[top_level][sublevel].get("mgs."~ sublevel ~".__version__", False) %}
                                    <p class="text-end fst-italic">
                                        Schema version: {{ grouped_metadata[top_level][sublevel].get("mgs."~ sublevel ~".__version__").value }}
                                    </p>
                                    {% for name, info in schema_labels[sublevel].items() if info['level'] == 0 %}
                                        {{ show_schema_metadata(name, info, schema_labels[sublevel], grouped_metadata[top_level][sublevel]) }}
                                    {% endfor %}
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <form method="get"
                                                  action="{{ url_for('metadata_schema_form_bp.edit_schema_metadata_for_item') }}">
                                                <input type="hidden" name="item_type" value="{{ item_type }}" />
                                                <input type="hidden" name="id" value="{{ object_id }}" />
                                                <input type="hidden" name="object_path" value="{{ object_path }}" />
                                                <input type="hidden" name="realm" value="{{ realm }}" />
                                                <input type="hidden" name="status" value="published" />
                                                <input type="hidden" name="schema" value="{{ sublevel }}" />
                                                <button type="submit" class="btn btn-primary m-2">
                                                    Edit Metadata for "{{ schemas[sublevel]['title'] if schemas[sublevel] else sublevel }}"
                                                </button>
                                            </form>
                                            <button type="button"
                                                    class="btn btn-danger m-2"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#delete_schema_data_{{ sublevel }}">
                                                Delete metadata for "{{ schemas[sublevel]['title'] if schemas[sublevel] else sublevel }}"
                                            </button>
                                            {{ dialogs.confirm_delete_dialog('delete_schema_data_' ~ sublevel, url_for('metadata_schema_form_bp.delete_schema_metadata_for_item') ,
                                             title='Are you sure you want to delete all metadata', 
                                             mode="custom", 
                                             readonly_fields = [{'name' : 'item_path', 'value': object_path,  'label': 'Item'}, {'name' : 'schema_identifier', 'value': sublevel, 'label': 'Schema'}], 
                                             hidden_fields=[{'name':'redirect_hash', 'value': '#metadata'}, {'name': 'item_type', 'value': item_type}], 
                                             modal_class='modal-lg') }}
</div>
                                        </div>
                                    {% else %}
                                        {% set readonly_group = readonly or not (current_user_rights | intersection(own_or_write) ) or top_level in readonly_prefixes %}
                                        {% set automatic_metadata = top_level == "analysis" %}
                                        {{ mini_metadata_table(grouped_metadata[top_level][sublevel], readonly_group, automatic_metadata) }}
                                        {# render schemas without schema info#}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
{% macro mini_metadata_table(metadata_group, readonly=False, automatic = False) %}
    {% if readonly %}
        {% set headers = ["Name", "Value", "Units"] %}
    {% elif automatic %}
        {% set headers = ["Name", "Value", "Delete"] %}
    {% else %}
        {% set headers = ["Name", "Value", "Units", "Edit", "Delete"] %}
    {% endif %}
    <table class="table table-striped table-hover mt-2">
        <tbody>
            <thead>
                <tr>
                    {% for head in headers %}<th scope="col">{{ head }}</th>{% endfor %}
                </tr>
            </thead>
            {% for _key, item in metadata_group.items() %}
                <tr>
                    {% for head in headers %}
                        {% if head == "Name" %}
                            <th class="text-start text-wrap">
                                <span title="{{ item.name }}">{{ item.name }}</span>
                            </th>
                        {% elif head == "Value" %}
                            <td data-bs-toggle="tooltip"
                                data-bs-title="Created: {{ item.create_time }} | Modified: {{ item.modify_time }}"
                                class="text-break">{{ item.value | bleach_clean(tags=['br']) | safe }}</td>
                        {% elif head == "Units" %}
                            <td class="text-left">{{ item.units if item.units is not none }}</td>
                        {% elif head == "Edit" %}
                            <td>
                                <a href="#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#editMetaData"
                                   data-bs-meta-data-name="{{ item.name }}"
                                   data-bs-meta-data-value="{{ item.value }}"
                                   data-bs-meta-data-units="{{ item.units if item.units is not none }}"
                                   data-bs-object-path="{{ object_path }}"><i class="bi bi-pencil"></i></a>
                            </td>
                        {% elif head == "Delete" %}
                            <td>
                                <a href="#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#deleteMetaData"
                                   class="text-danger"
                                   data-bs-meta-data-name="{{ item.name }}"
                                   data-bs-meta-data-value="{{ item.value }}"
                                   data-bs-meta-data-units="{{ item.units if item.units is not none }}"
                                   data-bs-object-path="{{ object_path }}"><i class="bi bi-trash"></i></a>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
{% macro download_metadata_block(object_path, export_metadata, item_type="collection", current_user_rights=[], realm="") %}
    <div class="d-flex justify-content-end">
        <p>{{ export_metadata }}</p>
        {% if export_metadata|length > 1 %}
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">Download metadata</button>
                <ul class="dropdown-menu">
                    {% if "schemas" in export_metadata %}
                        <h6 class="dropdown-header">Schemas</h6>
                        <div class="ms-3">
                            <div class="form-check">
                                <input type="checkbox"
                                       class="form-check-input border-dark"
                                       id="download-all-schemas"
                                       name="all-schemas"
                                       value="all-schemas"
                                       checked>
                                <label class="form-check-label fw-semibold" for="download-all-schemas">All schemas</label>
                            </div>
                        </div>
                        {% for item in export_metadata["schemas"] %}
                            <div class="ms-3">
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           id="download-{{ item["name"] }}"
                                           name="download-schema-metadata"
                                           value="{{ item["name"] }}"
                                           checked>
                                    <label class="form-check-label" for="download-{{ item["name"] }}">
                                        {{ item["data"]["title"] if "title" in item["data"] else item["name"] }}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                        {% if export_metadata | length > 2 %}
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                        {% endif %}
                    {% endif %}
                    {% for item in ["analysis", "other"] %}
                        {% if export_metadata[item] | length > 0 %}
                            <div class="ms-3">
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           id="download-{{ item }}"
                                           name="download-metadata"
                                           value="{{ item }}">
                                    <label class="form-check-label" for="download-{{ item }}">{{ item }}</label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="btn btn-primary ms-3" id="download-all-metadata" download="{{ object_path.split("/")[-1] }}.metadata.json" href="#">Download</a>
                </ul>
                <script>const md = {{ export_metadata | tojson }}</script>
                <script src="{{ url_for('static', filename='dist/metadata_download.js') }}"></script>
            </div>
        {% endif %}
    </div>


   

{% endmacro %}
{% macro analysis_tika_block(result, consolidate=false, consolidated=[], consolidate_url='{{ url_for }}
    ', data_object_path = '', read_only = false) %}
    <h2>Inspect with Tika metadata extractor</h2>
    {% if result['X-ANALYSIS-timestamp'] %}
        <p class="text-end">Analysis executed on {{ result['X-ANALYSIS-timestamp'] }}</p>
    {% endif %}
    <h4>Metadata fields</h4>
    {% if consolidate %}
        <form action="{{ consolidate_url }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="redirect_hash" value="#analysis" />
            <input type="hidden" name="data_object_path" value="{{ data_object_path }}" />
        {% endif %}
        <table class="table">
            {% for key, item in result.items() %}
                {% if key not in ['X-TIKA:content','X-TIKA:Parsed-By-Full-Set', 'X-TIKA:Parsed-By', 'X-ANALYSIS-timestamp'] %}
                    <tr>
                        <th>{{ key }}</th>
                        <td class="text-break">{{ item }}</td>
                        {% if consolidate %}
                            <td>
                                {% if key in consolidated %}
                                    <i class="bi bi-check2-square text-primary"></i>
                                {% elif not read_only %}
                                    <input type="checkbox" name="consolidate" value='{{ {key:item} | tojson }}' />
                                    {# note the single quotes required #}
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% if consolidate and not read_only %}
            <div class="row mt-5">
                <div class="col">
                    <button class="btn btn-primary float-end">Add selected metadata items as regular metadata</button>
                </div>
            </div>
        </form>
    {% endif %}
    <h4>Textual content extracted (for information only)</h4>
    <pre>
    {{result['X-TIKA:content']}}
    </pre>
    <h4>Analysis steps</h4>
    <ul class="list-group">
        {% if result['X-TIKA:Parsed-By-Full-Set'] is not string %}
            {% for step in result['X-TIKA:Parsed-By-Full-Set'] %}<li class="list-group-item">{{ step }}</li>{% endfor %}
        {% else %}
            <li class="list-group-item">{{ result['X-TIKA:Parsed-By-Full-Set'] }}</li>
        {% endif %}
    </ul>
{% endmacro %}
{% macro link_pid(zone, item, item_type) %}
    <a href="#" title="Copy Persistent URL" onclick="copy_pid_url()">
        <i class="bi bi-link"></i>
    </a>
    <script>
        const toastContainer = document.createElement("div");
        toastContainer.className = "toast-container position-fixed top-0 start-50 translate-middle-x";

        const toast = document.createElement("div");
        toast.className = "toast";
        toast.role = "alert";
        toast.setAttribute("aria-live", "assertive");
        toast.setAttribute("aria-atomic", true);

        const toastHeader = document.createElement("div");
        toastHeader.className = "toast-header text-bg-success text-bold";
        toastHeader.innerHTML = "ManGO Persistent URL";

        const toastBody = document.createElement("div");
        toastBody.className = "toast-body text-center";
        
        toastContainer.appendChild(toast);
        toast.appendChild(toastHeader);
        toast.appendChild(toastBody);
        
        function copy_pid_url() {
            const hostname = window.location.origin;
            const route = '{{ url_for('browse_bp.resolve_persistent_id', zone = zone, id = item.id, item_type = item_type) }}';
            const path = `${hostname}${route}`;
            navigator.clipboard.writeText(path);
            
            document.querySelector("body").appendChild(toastContainer); // only add the toast
            toastBody.innerHTML = `A persistent url was copied to your clipboard: <code>${hostname}${route}</code>.<br>Anyone with access can use this link.`;
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast);
            toastBootstrap.show();
        }
        
    </script>
{% endmacro %}
