{% extends "base.html.j2" %}
{% import "blocks.html.j2" as block_macros %}
{% import "dialogs.html.j2" as dialogs %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/@deltablot/dropzone@7/dist/dropzone-min.js"></script>
  <link rel="stylesheet"
        href="https://unpkg.com/@deltablot/dropzone@7/dist/dropzone.css"
        type="text/css" />
  <style>
      /* dropzone multi file upload css override*/
      .dropzone .dz-preview .dz-progress {
          height: 6px;
          top: 85%;
      }


      .btn-oc {
          --bs-btn-font-weight: 600;
          --bs-btn-color: var(--bs-primary);
          --bs-btn-bg: var(--bs-white);
          --bs-btn-border-radius: 0rem;
          --bs-btn-active-color: var(--bs-white);
          --bs-btn-active-bg: var(--bs-primary);
          --bs-btn-active-border-color: var(--bs-primary);
      }
  </style>
{% endblock head %}
{% block body %}
  {% set own_or_write = ["own", "delete_object", "delete object", "modify", "modify object", "modify_object", "write"] %}
  <nav aria-label="breadcrumb"
       class="navbar-light bg-light sticky-top pb-2 pt-1">
    <div class="text-bg-light me-4">
      <ol class="breadcrumb">
        <i class="bi bi-boxes"></i>&nbsp;
        {#<li class="breadcrumb-item">{{ breadcrumbs[0]['label'] }}</li>#}
        {% for element in breadcrumbs[:-1] %}
          <li class="breadcrumb-item">
            <a href="{{ url_for('browse_bp.collection_browse', collection=element['url']) }}">{{ element['label'] }}</a>
          </li>
        {% endfor %}
        {# <li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs[-1]['label'] }}</li> #}
      </ol>
    </div>
  </nav>
  <div class="row">
    <div class="col-10 mr-auto">
      <h3 class="mb-4">
        <i class="bi bi-folder fs-4"></i> {{ collection.name }}
        {% if ("own" in current_user_rights) and ((collection.path.count("/")) > 3) %}
          <a href="#" data-bs-toggle="modal" data-bs-target="#rename">
            <i class="bi bi-pencil"></i></a>
        {% endif %}
      </h3>
    </div>
    <div class="col-2 display-6">{{ block_macros.link_pid(g.irods_session.zone, collection, "c") }}</div>
    {{ dialogs.general_dialog("rename", url_for("browse_bp.rename_item") , title="Rename this collection", mode="custom",
    fields=[{"name": "new_name", "label": "Name", "value": collection.name, "required": true}],
    hidden_fields=[{"name": "item_path", "value": collection.path}]) }}
  </div>
  {% if (current_user_rights | intersection(own_or_write)) %}
    <div class="d-flex justify-content-between">
      <div class="col-2 mr-auto">
        <button type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#addCollection">Add collection</button>
      </div>
      <div class="col-4 mr-auto">
        <button class="btn btn-primary mb-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#folder-upload-form">Upload folder ...</button>
        <div id="folder-upload-form" class="collapse">
    <form action="{{ url_for("browse_bp.test_folder_upload", collection=collection.path[1:]) }}"
                  method="post" enctype="multipart/form-data" id="folderUpload">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="input-group">
            <input type="file" class="form-control" id="uploadFolder" name="uploadFolder" aria-describedby="submitFolder" webkitdirectory multiple/>

          </div>
          <div class="modal modal-lg" tabindex="-1" id="folderUploadModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Files to upload</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="alert alert-warning">
                Note: If you upload a file with a path that already exists it will be overwritten.
                </div>
            <div   id="warningBadge" class="alert alert-danger" role="alert" hidden>
              Alert: The total size of a folder cannot be higher than 5 GiB for a single upload. Please remove a number of files in order to 
              continue. </div>

                <div class="modal-body" id="folderUploadFiles">
                <div id="details"></div>
                <table class="table-striped" style="table-layout:fixed; width: 100%;">  
                <colgroup>
                  <col style="width: 80%;">     
                  <col style="width: 10%;">      
                  <col style="width: auto;">    
                </colgroup>
                  <thead>
                    <tr>
                      <th>Filename</th>
                      <th>Size</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
                </div>
                <div class="modal-footer">
                  {# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> #}
                  <button type="button" id="sendFile" class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm visually-hidden" aria-hidden="true"></span>
                    <span role="status">Upload files</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <script>
            const folderUploadURL = "{{ url_for("browse_bp.test_folder_upload", collection=collection.path[1:]) }}"
          </script>
          <script src="{{url_for('static', filename='dist/folderUpload.js')}}"></script>
        </form>
        </div>
        </div>
        <div class="col-6 mr-auto">
        {# <form action="{{ url_for('browse_bp.collection_upload_file')}}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="input-group mb-3">
            <div class="invalid-feedback">A file to upload is required</div>
            <input type="file" class="form-control" id="newfile" name="file" required />
            <button type="submit" class="btn btn-primary">Upload</button>
            <input type="hidden" name="collection" value="{{ collection.path }}"/>
          </div>
        </form> #}
        <button class="btn btn-primary mb-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#multi-upload-form">Upload files ...</button>
        <div id="multi-upload-form" class="collapse">
          <form action="{{ url_for("browse_bp.collection_upload_stream", collection=collection.path[1:]) }}"
                method="post"
                class="dropzone rounded"
                id="mango-dropzone">
            {# <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> #}
          </form>
          <button class="btn btn-primary mt-2 float-end" id="submit-all">Start uploading all files</button>
        </div>
        </div>
      </div>
  {% endif %}
  <ul class="nav nav-tabs mb-4" id="collection_tab" role="tablist">
    {% for tab in tabs %}
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if loop.first %}active{% endif %}"
           href="#{{ tab.id }}"
           id="{{ tab.id }}-tab"
           data-bs-toggle="tab"
           data-bs-target="#{{ tab.id }}"
           type="button"
           role="tab"
           aria-controls="home"
           aria-selected="true">{{ tab.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="tab-content" id="myTabContent">
    {% for tab in tabs %}
      <div class="tab-pane fade show {% if loop.first %}active{% endif %}"
           id="{{ tab.id }}"
           role="tabpanel"
           aria-labelledby="{{ tab.id }}-tab">{% include tab.template|mango_template(g.irods_session.zone, collection) %}</div>
    {% endfor %}
  </div>
  <!-- Add collection modal-->
  <div class="modal fade"
       id="addCollection"
       tabindex="-1"
       aria-labelledby="addCollectionLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCollectionLabel">Add collection</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <form action="{{ url_for("browse_bp.add_collection") }}"
              method="post"
              enctype="multipart/form-data"
              class="row g-3 needs-validation"
              novalidate>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="modal-body">
            <div class="mb-3">
              <label for="collection-name-add" class="col-form-label">Name</label>
              <input type="text"
                     class="form-control"
                     id="collection-name-add"
                     name="collection_name"
                     pattern="^[^\s]+.+[^\s]+$"
                     required />
              <div class="invalid-feedback">A collection name is required and may not contain leading or trailing whitespace</div>
            </div>
            <input type="hidden"
                   id="collection-path-add"
                   name="parent_collection_path"
                   value="{{ collection.path }}" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal" id="confirmation-dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Are you sure?</h6>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <form id="confirmation-form"
              method="post"
              action="{{ url_for("browse_bp.bulk_operation_items") }}">
          <div class="modal-body">
            <input type="hidden" id="action" name="action" />
            <input type="hidden" id="destination" name="destination" />
            <p id="confirmation-text">.</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">I'm sure</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Delete modal -->
  {{ dialogs.iframe_dialog('a.pipeline', header="Build information") }}
{% endblock body %}
{% block javascript %}
  {{ super() }}
  <script src="{{url_for('static', filename='dist/doms.js')}}"></script>
  <script src="{{url_for('static', filename='dist/bulk_operations.js')}}"></script>
  <script>
//function for applying action on all selected collections/files
function applyAction() {
  let action = document.getElementById("action_select").value;
  let selectedCollections = [];
  let selectedDataObjects = [];
  let rows = document.getElementById("collectionContents").querySelectorAll("tr");
  let checkboxes = rows[0].querySelectorAll("[type=checkbox]");
  for (const checkbox of checkboxes){
    if (checkbox.checked){
      selectedDataObjects.push(checkbox.value);
    }
  }
  checkboxes = rows[1].querySelectorAll("[type=checkbox]");
  for (const checkbox of checkboxes){
    if (checkbox.checked){
      selectedCollections.push(checkbox.value);
    }
  }
  console.log(selectedCollections);
  console.log(selectedDataObjects)
  if (selectedCollections.length > 0 || selectedDataObjects.length > 0){
    switch(action) {
      case "move":
        // move selected items
        let treeBrowser = document.getElementById("tree_browser");
        tree_browser.style = "display: block!important";
        break;
      case "delete":
        // deleted selected items, TODO: api call
        for (const path of selectedCollections){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "{{url_for('browse_bp.delete_collection')}}");
          var formData = new FormData();
          formData.append("collection_path", path);
          xhr.send(formData);
        }
        for (const path of selectedDataObjects){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "{{url_for('browse_bp.delete_data_object')}}");
          var formData = new FormData();
          formData.append("data_object_path", path);
          xhr.send(formData);
        }
        break;
    }
  }

}

var editMetaData = document.getElementById('editMetaData')
editMetaData.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var fieldMDName = button.getAttribute('data-bs-meta-data-name')
  var fieldMDValue = button.getAttribute('data-bs-meta-data-value')
  var fieldMDUnit = button.getAttribute('data-bs-meta-data-units')
  var fieldObjectPath = button.getAttribute('data-bs-data-path')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = editMetaData.querySelector('.modal-title')
  var modalBodyInputMDName = editMetaData.querySelector('#meta-data-name')
  var modalBodyInputMDValue = editMetaData.querySelector('#meta-data-value')
  var modalBodyInputMDUnit = editMetaData.querySelector('#meta-data-units')
  var modalBodyInputDataPath = editMetaData.querySelector('#object-path')

  var modalBodyInputOrigMDName = editMetaData.querySelector('#orig-meta-data-name')
  var modalBodyInputOrigMDValue = editMetaData.querySelector('#orig-meta-data-value')
  var modalBodyInputOrigMDUnit = editMetaData.querySelector('#orig-meta-data-units')


  //modalTitle.textContent = 'Data object ' +
  modalBodyInputMDName.value = fieldMDName
  modalBodyInputMDValue.value = fieldMDValue
  modalBodyInputMDUnit.value = fieldMDUnit
  modalBodyInputDataPath = fieldObjectPath

  modalBodyInputOrigMDName.value = fieldMDName
  modalBodyInputOrigMDValue.value = fieldMDValue
  modalBodyInputOrigMDUnit.value = fieldMDUnit

})

//// Delete meta data listener for modal

var deleteMetaData = document.getElementById('deleteMetaData')
deleteMetaData.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var fieldMDName = button.getAttribute('data-bs-meta-data-name')
  var fieldMDValue = button.getAttribute('data-bs-meta-data-value')
  var fieldMDUnit = button.getAttribute('data-bs-meta-data-units')
  var fieldObjectPath = button.getAttribute('data-bs-data-path')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = deleteMetaData.querySelector('.modal-title')
  var modalBodyInputMDName = deleteMetaData.querySelector('#meta-data-name-delete')
  var modalBodyInputMDValue = deleteMetaData.querySelector('#meta-data-value-delete')
  var modalBodyInputMDUnit = deleteMetaData.querySelector('#meta-data-units-delete')
  var modalBodyInputDataPath = deleteMetaData.querySelector('#object-path-delete')


  //modalTitle.textContent = 'Data object ' +
  modalBodyInputMDName.value = fieldMDName
  modalBodyInputMDValue.value = fieldMDValue
  modalBodyInputMDUnit.value = fieldMDUnit
  modalBodyInputDataPath = fieldObjectPath

})

// open the active tab if specified by simulating a click() :)
var hash = window.location.hash;
hash && document.querySelector('a[href="'+hash+'"]').click()

// multi file upload Zone
// Note that the name "mangoDropzone" is the camelized id of the form.
Dropzone.options.mangoDropzone = {

    autoProcessQueue: false,
    parallelUploads: 3,
    addRemoveLinks: true,
    maxFilesize: 5120,
    binaryBody: true,
    method: "post",
    dictDefaultMessage: "Click or drag files (max 5GiB each) to upload here. When your selection is ready, click the buttton below to start the upload.",
    init: function () {
      var submitButton = document.querySelector("#submit-all")

      ourDropzone =  this;
      submitButton.addEventListener("click", function() {
        ourDropzone.processQueue();
      });
      
      this.on("sending", function(file, xhr, formData) {
        // add filename header since we changed to binary streaming 
        xhr.setRequestHeader("filename", file.upload.filename)
      });
      // if there are more than the parallel uploads parameter, ensure that all get uploaded
      this.on("processing", function() { ourDropzone.options.autoProcessQueue = true; });
      // reload the page at the end to show the uploaded files in iRODS
      this.on('queuecomplete', function () {
        location.reload();
      });
    }
  };
Dropzone.discover(); 
  </script>
{% endblock javascript %}
