{{ block_macros.metadata_block(data_object.id, data_object.path.lstrip("/") , grouped_metadata, schemas, schema_labels,
readonly_prefixes=config["METADATA_NOEDIT_PREFIX"], item_type="data_object", current_user_rights=current_user_rights, realm=realm)}}
