{% extends "base.html.j2" %}
{% import "dialogs.html.j2" as dialogs %}
{% import "blocks.html.j2" as block_macros %}
{% set own_or_write = ["own", "delete_object", "delete object", "modify", "modify object", "modify_object", "write"] %}
{% block body %}
  {% set own_or_write = ["own", "delete_object", "delete object", "modify", "modify object", "modify_object", "write"] %}
  <nav aria-label="breadcrumb"
       class="navbar-light bg-light sticky-top pb-2 pt-1">
    <ol class="breadcrumb">
      <i class="bi bi-house-door-fill"> </i>&nbsp;
      {% for element in breadcrumbs[:-1] %}
        <li class="breadcrumb-item">
          <a href="{{ url_for('browse_bp.collection_browse', collection=element['url']) }}">{{ element['label'] }}</a>
        </li>
      {% endfor %}
      {# <li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs[-1]['label'] }}</li> #}
    </ol>
  </nav>
  <div class="row">
    <div class="col-10">
      <h3 class="mb-4">
        <i class="bi bi-file-earmark fs-4"></i> {{ data_object.name }}
        {% if (current_user_rights | intersection(own_or_write)) and ((data_object.path.count("/")) > 3) %}
          <a href="#" data-bs-toggle="modal" data-bs-target="#rename">
            <i class="bi bi-pencil"></i></a>
        {% endif %}
      </h3>
      {{ dialogs.general_dialog("rename", url_for("browse_bp.rename_item") , title="Rename this data object", mode="custom",
      fields=[{"name": "new_name", "label": "Name", "value": data_object.name, "required": true}],
      hidden_fields=[{"name": "item_path", "value": data_object.path}]) }}
    </div>
    <div class="col-2 display-6">
      {% if data_object.size < config["DATA_OBJECT_MAX_SIZE_DOWNLOAD"] %}
        <a href="{{ url_for('browse_bp.download_object', data_object_path = data_object.path.lstrip('/') ) }}"><i class="bi bi-download"></i></a>
      {% endif %}
      {{ block_macros.link_pid(g.irods_session.zone, data_object, "d") }}
    </div>
  </div>
  <ul class="nav nav-tabs mb-4" id="object_tab" role="tablist">
    {% for tab in tabs %}
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if loop.first %}active{% endif %}"
           href="#{{ tab.id }}"
           id="{{ tab.id }}-tab"
           data-bs-toggle="tab"
           data-bs-target="#{{ tab.id }}"
           type="button"
           role="tab"
           aria-controls="home"
           aria-selected="true">{{ tab.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="tab-content" id="myTabContent">
    {% for tab in tabs %}
      <div class="tab-pane fade show {% if loop.first %}active{% endif %}"
           id="{{ tab.id }}"
           role="tabpanel"
           aria-labelledby="{{ tab.id }}-tab">{% include tab.template %}</div>
    {% endfor %}
  </div>
  {{ dialogs.iframe_dialog('a.pipeline', header="Build information") }}
{% endblock body %}
{% block javascript %}
  {{ super() }}
  <script async src="{{url_for('static', filename='js/form-validation.js')}}"></script>
  <script>
//// Edit meta data listener for modal
var editMetaData = document.getElementById('editMetaData')
editMetaData.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
var button = event.relatedTarget
  // Extract info from data-bs-* attributes
var fieldMDName = button.getAttribute('data-bs-meta-data-name')
var fieldMDValue = button.getAttribute('data-bs-meta-data-value')
var fieldMDUnit = button.getAttribute('data-bs-meta-data-units')
//var fieldObjectPath = button.getAttribute('data-bs-data-path') //path is fixed for all metadata
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  //var modalTitle = editMetaData.querySelector('.modal-title')
var modalBodyInputMDName = editMetaData.querySelector('#meta-data-name')
var modalBodyInputMDValue = editMetaData.querySelector('#meta-data-value')
var modalBodyInputMDUnit = editMetaData.querySelector('#meta-data-units')
  //var modalBodyInputDataPath = editMetaData.querySelector('#object-path-edit')

var modalBodyInputOrigMDName = editMetaData.querySelector('#orig-meta-data-name')
var modalBodyInputOrigMDValue = editMetaData.querySelector('#orig-meta-data-value')
var modalBodyInputOrigMDUnit = editMetaData.querySelector('#orig-meta-data-units')


  //modalTitle.textContent = 'Data object ' +
modalBodyInputMDName.value = fieldMDName
modalBodyInputMDValue.value = fieldMDValue
modalBodyInputMDUnit.value = fieldMDUnit
  //modalBodyInputDataPath = fieldObjectPath

modalBodyInputOrigMDName.value = fieldMDName
modalBodyInputOrigMDValue.value = fieldMDValue
modalBodyInputOrigMDUnit.value = fieldMDUnit

})

//// Delete meta data listener for modal

var deleteMetaData = document.getElementById('deleteMetaData')
deleteMetaData.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var fieldMDName = button.getAttribute('data-bs-meta-data-name')
  var fieldMDValue = button.getAttribute('data-bs-meta-data-value')
  var fieldMDUnit = button.getAttribute('data-bs-meta-data-units')
  var fieldObjectPath = button.getAttribute('data-bs-data-path')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
 // var modalTitle = deleteMetaData.querySelector('.modal-title')
  var modalBodyInputMDName = deleteMetaData.querySelector('#meta-data-name-delete')
  var modalBodyInputMDValue = deleteMetaData.querySelector('#meta-data-value-delete')
  var modalBodyInputMDUnit = deleteMetaData.querySelector('#meta-data-units-delete')
  var modalBodyInputDataPath = deleteMetaData.querySelector('#object-path-delete')


  //modalTitle.textContent = 'Data object ' +
  modalBodyInputMDName.value = fieldMDName
  modalBodyInputMDValue.value = fieldMDValue
  modalBodyInputMDUnit.value = fieldMDUnit
  modalBodyInputDataPath = fieldObjectPath

})

// open the active tab if specified by simulating a click() :)
var hash = window.location.hash;
hash && document.querySelector('a[href="'+hash+'"]').click()


  </script>
{% endblock javascript %}
