{% extends "base.html.j2" %}
{% block body %}
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <h4 class="bi bi-people">{{ group_name }}</h4>
        </div>
        <ul class="list-group">
          {% for member in members %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <span>{{ member.name }}</span><span>{{ (member | get_one_irods_metadata('name')).value }}</span>
            </li>
          {% endfor %}
        </ul>
        {% if group_name != 'public' %}
          {% set project_name = group_name | replace("_manager", "") | replace("_responsible", "") %}
          <div>
            <a class="btn btn-block btn-primary m-2"
               href="{{ url_for('data_platform_project_bp.project', project_name = project_name) }}">Project details</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock body %}
