{% extends "base_openid.html.j2" %}

{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="{{ url_for('data_platform_user_bp.login_openid_select_zone')}}">Project overview</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Create API Token</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col">
      <p>Not implemented</p>
    </div>
  </div>
{% endblock body %}