{% extends "base_openid.html.j2" %}

{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="{{ url_for('data_platform_user_bp.login_openid_select_zone')}}">Project overview</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{{ url_for('data_platform_project_bp.project', project_name=project_name)}}#machineaccounts">{{ project_name }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Create {{ type }} password</li>
    </ol>
  </nav>
  <h4 class="mb-3">API user {{ type }}</h4>
    <p>
      For unattended scripts that send data to the data platform, or retrieve data from it, you can request a long-living token to use in the script. The long-living token is tied to a separate username, so that permissions can be set to what is strictly necessary. Be aware that resetting the token is possible at any time, but will invalidate the previous value and scripts will stop working.
    </p>

    <p class="text-danger">Please copy the password below safely now, because you will not be able to retrieve it again.</p>

    <p>
      By policy, the long-lived token should only be used for automated ingestion or extraction of data (or both). Interactions by end users, directly or indirectly, should happen using their own accounts.
      {% if 'ingress' in info['irods_environment']['irods_user_name'] %}
      This means in particular that the subcollection in which data is written using the long-lived token, needs to have appropriate ACL permissions set and the inherit bit enabled, otherwise the uploaded data will be accessible only by the username that is tied to the token.
      For convenience, or as an example, the collection <code>{{ info['irods_environment']['irods_cwd'] }}</code> was created and can be used to upload data with the token. Data will then be owned - and in particular be readable - by the project managers. In case more people should be granted read access, add the corresponding ACL rules first, before actually uploading data.
      {% else %}
      This means in particular that the data that the long-lived token should be able to read, must have write permissions for the accounts of people providing it, and read permissions for the username tied to the token. 
      For convenience, or as an example, the collection <code>{{ info['irods_environment']['irods_cwd'] }}</code> was created and can be used to put data into, that later can be read using the token. 
      At this moment it is owned by the project manager groups. In case more people should be granted write access, add the corresponding ACL rules first, before copying any data into it.
      {% endif %}
    </p>

    <p>
      <i>Note that after June 1st, the iRODS servers will be firewalled. You will either need to connect from a managed laptop, an HPC node, a device in the KU Leuven L- or S-zone,
      or to open the web firewall page before attempting to connect. Contact the RDM team if some script needs access from another location, e.g. to whitelist an additional IP.</i>
    </p>

    <dl class="mx-auto ml-20">
      <dt>Hostname</dt>
      <dd>{{ info['irods_environment']['irods_host'] }}</dd>
      <dt>Port</dt>
      <dd>{{ info['irods_environment']['irods_port'] }}</dd>
      <dt>Zone</dt>
      <dd>{{ info['irods_environment']['irods_zone_name'] }}</dd>
      <dt>Username</dt>
      <dd>{{ info['irods_environment']['irods_user_name'] }}</dd>
      <dt>Password</dt>
      <dd>
        <pre>{{ info['token'] }}</pre>
      </dd>
      <dt>Expiration</dt>
      <dd>
        {{ info['expiration']|format_time }}
      </dd>
    </dl>

    <h5>How to configure authentication</h5>
    <p>
      Put the following contents in the <code>irods_environment.json</code> file inside the <code>.irods</code> directory on the device that needs an iRODS connection.
      The location of the <code>.irods</code> directory depends on the operating system. For Mac: <code>/Users/&lt;user&gt;/.irods</code>, for Linux: <code>/home/&lt;user&gt;/.irods</code>, for Windows: <code>C:\Users\&lt;user&gt;\.irods</code>.
    <p>
    <pre><code>{{ setup_json }}</code></pre>
    <p>
      Run either <code>iron auth</code> or <code>iinit</code> and enter the password above to authenticate. This will initialize your iRODS session.
    </p>
    <p>
      Scripts that use iron, iCommands or PRC will now be able to connect to iRODS. 
      Be aware that unattended scripts need to deal with possible transfer errors, by e.g. adding a logging method or by retrying failed transfers.
    </p>
{% endblock %}