{% extends "base.html.j2" %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row, render_hidden_errors %}
{% block body %}
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" 
          integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" c
          rossorigin="anonymous"></script>
<div class="spinner-border text-primary"
    role="status"
    hx-get="{{ url_for('basic_search_bp.check_loaded_schemas') }}"
    hx-trigger="load delay:0.5s"
    hx-swap="none">
  <span class="visually-hidden">Loading your schemas, please wait a bit!</span>
</div>
{% endblock body %}