{% extends "base.html.j2" %}
{% block header %}
<header class="py-3 mb-4 border-bottom shadow">
    <div class="container-fluid d-grid gap-3 align-items-center"
         style="grid-template-columns: 1fr 2fr;">
        <div class="row">
            <a href="{{ url_for('index')}}"
               class="d-flex align-items-center col-3 mb-2 mb-lg-0 link-dark text-decoration-none">
                <img class="logo"
                        alt="logo"
                        src="{{ url_for('static', filename='logo.svg') }}"
                        width="137"
                        style="margin: -10px 10px;"/>
                <img class="logo"
                        alt="logo"
                        src="{{ url_for('static', filename='mango-logo.svg') }}"
                        width="137"
                        style="margin: -10px 0;"/>
            </a>
        </div>
        {% if session.openid_session %}
        <div class="d-flex justify-content-end">
            <div class="flex-shrink-0 dropdown">
                <a href="#"
                   class="d-block link-dark text-decoration-none dropdown-toggle"
                   id="dropdownUser"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    {{ session.openid_session.user_info.preferred_username }} <i class="bi bi-person-circle fs-4"></i>
                </a>
                <ul class="dropdown-menu text-small shadow"
                    aria-labelledby="dropdownUser">
                    <li>
                        <a class="dropdown-item disabled" href="#">Preferences</a>
                    </li>
                    <li>
                        <a class="dropdown-item disabled" href="#">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item disabled" href="#">How to connect</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('data_platform_user_bp.login_openid_select_zone') }}">Switch zone</a>
                    </li>
                    {% if admin|default(False) %}
                    <li>
                        <a class="dropdown-item" href="{{ url_for('data_platform_user_bp.drop_permissions') }}">Drop permissions</a>
                    </li>
                    <li>
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#impersonate">Impersonate user</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item" href="{{ url_for(config['MANGO_LOGOUT_ACTION']) }}">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</header>    
{% endblock header %}

{% block footer %}
{% if admin|default(False) %}
  <!-- impersonate -->
  <div class="modal fade"
       id="impersonate"
       tabindex="-1"
       aria-labelledby="impersonateLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="impersonateLabel">
            Impersonate
          </h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close">
          </button>
        </div>
        <form action="{{ url_for('data_platform_user_bp.impersonate') }}""
              method="post"
              enctype="multipart/form-data"
              class="row g-3 needs-validation"
              novalidate>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="modal-body">
            <div class="mb-3">
              <label for="username-impersonate" class="col-form-label">
                Username
              </label>
              <input type="text"
                     class="form-control"
                     id="username-impersonate"
                     name="username"
                     required autocomplete="off" pattern="^vsc[0-9]{5}$|^[urbcms][0-9]{7}$" />
              <div class="invalid-feedback">
                A valid username is required, e.g. {% if session['openid_provider'] == 'vsc' %}vsc12345{% else %}u0123456{% endif %}.
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancel
            </button>
            <button class="btn btn-primary" type="submit">
              Impersonate
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}
{% endblock footer %}
