{% extends "base.html.j2" %}
{% block body %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h1 class="bi bi-archive display-1"></h1>
        </div>
        <ul class="list-group list-group-flush">
        {% for project in projects %}
            <li class="list-group-item"><a href="{{url_for('data_platform_user_bp.project', project_name = project.name)}}">{{project.name}}</a>
            
            {% if project['platform'] == "irods" %}
            {% for opt in project['platform_options'] %}
            {% if opt['key'] == 'zone-jobid' and opt['value'] != current_jobid %}
            {% for zone in zones %}
            {% if zone['jobid'] == opt['value'] %}
            (zone {{ zone['fqdn'] }})
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% else %}
            ({{ project['platform'] }})
            {% endif %}
            
            </li>
        {%endfor%}
        </ul>
    </div>
  </div>
</div>
{% endblock body%}