{% extends "base_core.html.j2" %}
{% block body %}
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
                <h3>Login to your Mango iRODS Active Data Portal</h3>
                <p class="mb-4">Please use the password provided by the VSC/KU Leuven iRODS login service</p>
                <form action="{{ url_for('user_bp.login_basic') }}"" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Your login id"
                               id="username"
                               name="username"/>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input type="password"
                               class="form-control"
                               placeholder="Your password"
                               id="password"
                               name="password"/>
                    </div>
                    <div class="form-group mb-3">
                        <label for="irods_zone">iRODS zone</label>
                        <select class="form-select" name="irods_zone" id="irods_zone">
                            {% for zone_name in config['irods_zones'] %}
                                <option value="{{ zone_name }}">
                                    {{ zone_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="Log In" class="btn btn-block btn-primary"/>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
