{% extends "base.html.j2" %}
{% block body %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h1 class="bi bi-person-square display-1"></h1>
        </div>
        <table class="table">
          <tr>
            <th>Login name</th>
            <td>{{ me.name }}</td>
          </tr>
          <tr>
            <th>Zone</th>
            <td>{{ me.zone }}</td>
          </tr>
          <tr>
            <th>User type</th>
            <td>{{ me.type }}</td>
          </tr>
          <tr>
            <th>User info</th>
            <td>{{ me.info if not me.info == none }}</td>
          </tr>
          <tr>
            <th>User id</th>
            <td>{{ me.id }}</td>
          </tr>
          <tr>
            <th>Logged in since</th>
            <td>{{ logged_in_since.isoformat(timespec='seconds') }}</td>
          </tr>
          <tr>
            <th>Disk space used in your home</th>
            {% if home_total_size > config['USER_MAX_HOME_SIZE'] %}
              <td class="text-danger">
                <i class="bi bi-exclamation-triangle"></i>
              {% else %}
                <td class="text-success">
                {% endif %}
                {{ home_total_size | filesizeformat }}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h1 class="bi bi-people display-1"></h1>
          </div>
          <ul class="list-group list-group-flush">
            {% for group in my_groups %}
              <li class="list-group-item">
                <a href="{{ url_for('user_bp.group_members', group_name = group.name)}}">{{ group.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endblock body %}
