{% extends "base.html.j2" %}
{% block body %}
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Userid</th>
                        <th>Zone</th>
                        <th>Logged in since</th>
                        <th>Latest activity at</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for userid, user_session in user_sessions.items() %}
                        <tr>
                            <td>{{ userid }}</td>
                            <td>{{ user_session.irods_session.zone }}</td>
                            <td>{{ user_session.created }}</td>
                            <td>{{ user_session.last_accessed }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}
