{% extends "base.html.j2" %}
{% block body %}
    <main>
        <h1>Metadata schema manager</h1>
        {% if not realm %}
            <h4>Please choose a realm from the list below</h4>
            <div class="list-group realms">
                {% for realm in realms %}
                    <a href="{{ url_for('metadata_schema_editor_bp.metadata_schemas', realm=realm)}}"
                       class="list-group-item">{{ realm }}</a>
                {% endfor %}
            </div>
        {% else %}
            <div id="metadata_template_list_container">
                {% set blueprint = "metadata_schema_editor_bp" %}
                {% set mdt = "meta_data_template" %}
                <url-list new="{{ url_for('{}.save_schema'.format(blueprint)) }}" list="{{ url_for('{}.list_meta_data_schemas'.format(blueprint)) }}" delete="{{ url_for('{}.delete_meta_data_schema'.format(blueprint)) }}" archive="{{ url_for('{}.archive_meta_data_schema'.format(blueprint)) }}" realm="{{ realm }}"></url-list>
                {% for file in ['doms', 'fields', 'schema', 'httprequests', 'manager'] %}
                    <script src="{{url_for('static', filename='dist/{}.js'.format(file))}}"></script>
                {% endfor %}
                <link href="{{ url_for('static', filename='dist/mdschema.css') }}"
                      rel="stylesheet"/>
            </div>
        {% endif %}
    </main>
{% endblock body %}
