{% extends "base.html.j2" %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row, render_hidden_errors, render_messages %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block body %}
{# Variables obtained by getting the schema info #}
    <h2>{{ item.name }}</h2>
    <p>Type: {{ item.item_type }}</p>
    {{ render_messages() }}
    <div id="metadata_form" schema-url={{ url_for('metadata_schema_editor_bp.get_schema', schema=schema_url) }} schema-values={{ schema_values }} prefix={{ prefix }}>
    </div>
    {% for file in ['doms', 'fields', 'schema', 'httprequests', 'annotator'] %}
        <script src="{{url_for('static', filename='dist/{}.js'.format(file))}}"></script>
        {% endfor %}
    <link href="{{ url_for('static', filename='dist/mdschema.css') }}" rel="stylesheet">
    {# Retrieve code to post values from original jinja #}
{% endblock body %}